{% extends "base.html" %}

{% load static %}
{% load humanize %}


{% block title %}
{{ store.name }}
{% endblock title %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="{% static 'css/stores/detail.css' %}">
{% endblock head %}

{% block content %}
<!--detail 타이틀-->
<div class="detail-title-wrap">
  <div class="detail-title-box">
    <p class="detail-title-title">{{ store.name }}</p>
    <p class="detail-title-text">{{ store.content }}</p>
  </div>
</div>

<!--detail 메인이미지-->
<div class="detail-image-wrapper">
  <img class="detail-image" src="{{ store.main_image.url }}" alt="">
</div>

<div class="detail-wrapper">
  <div class="detail-inner">
    {% for product in products %}
      <div class="item">
        <a href="{% url 'stores:products_detail' product.store.pk product.pk %}">
          <img class="image" src="{{ product.images.first.image.url }}" alt="">
          <div class="item-box">
            <p class="detail-name">[{{ store.name }}] {{ product.name }}</p>
            <p class="detail-price">￦ {{ product.price|intcomma }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'stores:products_create' store.pk %}">[상품 생성]</a>
  <a href="{% url 'stores:index' %}">[목록]</a>
  <a href="{% url 'stores:update' store.pk %}">[상점 수정]</a>
  <form action="{% url 'stores:delete' store.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="상점 삭제">
</form>    
</div>


{% endblock content %}