<h1>products_detail</h1>
<h2>{{ product.store }}-{{ product.name }} {{ product.rating }}</h2>
{% for image in product.images.all %}
  <img src="{{ image.image.url }}" alt="" style="width: 100px;">
{% endfor %}

<a href="{% url 'stores:detail' store.pk %}">[상품 목록으로]</a>
<a href="{% url 'stores:products_update' store.pk product.pk %}">[상품 수정]</a>
<form action="{% url 'stores:products_delete' store.pk product.pk %}">
  {% csrf_token %}
  <input type="submit" value="상품 삭제">
</form>
<a href="{% url 'stores:reviews_create' store.pk product.pk %}">[리뷰작성]</a>
{% for review in reviews %}
  <p>{{ review.title }}</p>
  <p>{{ review.content|safe }}</p>
  <p>{{ review.rating }}</p>
  {% for review_image in review.review_images %}
    {% if review_image %}
      <img src="{{ review_image.url }}" alt="" style="width: 100px;">
    {% endif %}
  {% endfor %}
  <a href="{% url 'stores:reviews_update' store.pk product.pk review.pk %}">[리뷰 수정]</a>
  <form action="{% url 'stores:reviews_delete' store.pk product.pk review.pk %}">
    <input type="submit" value="리뷰삭제">
  </form>
{% endfor %}