{% extends 'base.html' %}

{% load static %}

{% block title %}
상품 생성
{% endblock title %}

{% block head %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/stores/products_create.css' %}">
{% endblock head %}

{% block content %}
<!--create 타이틀-->
<div class="create-title-wrap">
  <div class="create-title-box">
    <p class="create-title-title">상품 생성</p>
    <p class="create-title-text">상품 생성 페이지입니다.</p>
  </div>
</div>

<div class="c-wrapper">
  <form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="c-form-wrap">
      <div>
        <p class="form_label">상품 이름<span class="required_star">*</span></p>
        {{ product_form.name }}
      </div>
      <div>
        <p class="form_label">상품 가격<span class="required_star">*</span></p>
        {{ product_form.price }}
      </div>
      <div>
        <p class="form_label">카테고리<span class="required_star">*</span></p>
        {{ product_form.category}}
      </div>
      <div>
        <p class="form_label">상품 설명<span class="required_star">*</span></p>
        {{ product_form.content }}
      </div>
      <div>
        <p class="form_label">상품 이미지<span class="required_star">*</span>&nbsp;<span class="image-text">여러 개 선택해 주세요</span></p>
        {{ image_form.image }}
      </div>
      <div>
        <p class="form_label">상품 상세 이미지<span class="required_star">*</span>&nbsp;<span class="image-text">이미지 가로 크기는 1000px입니다.</span></p>
        {{ product_form.detail_image }}
      </div>
    </div>
    <!--버튼-->
    <div class="button-wrapper">
      <input class="c-button-cancel" type="submit" value="취소" onclick=window.history.back()>
      <input class="c-button" type="submit" value="등록하기">
    </div>
  </form>
</div>
{% endblock content %}