{% extends 'base.html' %}

{% load static %}

{% block title %}
리뷰 수정
{% endblock title %}

{% block head %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/stores/reviews_update.css' %}">
  <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock head %}

{% block content %}
<!--create 타이틀-->
<div class="update-title-wrap">
  <div class="update-title-box">
    <p class="update-title-title">리뷰 수정</p>
    <p class="update-title-text">리뷰 수정 페이지입니다.</p>
  </div>
</div>

<div class="u-wrapper">
  <form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="u-form-wrap">
      <div>
        <p class="form_label">제목<span class="required_star">*</span></p>
        {{ review_form.title }}
      </div>
      
      <div>
        <p class="form_label">내용<span class="required_star">*</span></p>
        {{ review_form.content }}
      </div>
      <div>
        <p class="form_label">평점<span class="required_star">*</span></p>
        <div class="starRating">
          <i class="far fa-star" data-rating="1"></i>
          <i class="far fa-star" data-rating="2"></i>
          <i class="far fa-star" data-rating="3"></i>
          <i class="far fa-star" data-rating="4"></i>
          <i class="far fa-star" data-rating="5"></i>
          <input type="hidden" id="rating_input" name="rating" value="{{ review_form.rating.value }}">
        </div>
      </div>
      <div>
        <p class="form_label">리뷰 이미지 1&nbsp;<span class="image-text">(선택)</span></p>
        {{ review_form.image1 }}
      </div>
      <div>
        <p class="form_label">리뷰 이미지 2</p>
        {{ review_form.image2 }}
      </div>
      <div>
        <p class="form_label">리뷰 이미지 3</p>
        {{ review_form.image3 }}
      </div>
      <div>
        <p class="form_label">리뷰 이미지 4</p>
        {{ review_form.image4 }}
      </div>
      <div>
        <p class="form_label">리뷰 이미지 5</p>
        {{ review_form.image5 }}
      </div>
    </div>
    <!--버튼-->
    <div class="button-wrapper">
      <input class="u-button-cancel" type="submit" value="취소" onclick=window.history.back()>
      <input class="u-button" type="submit" value="수정하기">
    </div>
  </form>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/stores/reviews_update.js' %}"></script>
{% endblock script %}
