asgiref==3.6.0
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
charset-normalizer==3.1.0
constantly==15.1.0
cryptography==40.0.2
daphne==4.0.0
defusedxml==0.7.1
diff-match-patch==20230430
Django==3.2.18
django-allauth==0.54.0
django-appconf==1.0.5
django-ckeditor==6.5.1
django-classy-tags==4.0.0
django-imagekit==4.1.0
django-import-export==3.2.0
django-js-asset==2.0.0
django-taggit==4.0.0
django-taggit-templatetags2==1.6.1
et-xmlfile==1.1.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
MarkupPy==1.14
numpy==1.24.3
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
pandas==2.0.1
pilkit==2.0
Pillow==9.5.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.7.0
pyOpenSSL==23.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.4
tablib==3.4.0
Twisted==22.10.0
# twisted-iocpsupport==1.0.3
txaio==23.1.1
typing_extensions==4.6.2
tzdata==2023.3
urllib3==2.0.2
xlrd==2.0.1
xlwt==1.3.0
zope.interface==6.0
