{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
<h1>order_page</h1>
{% comment %} <p>{{ products }}</p> {% endcomment %}
<p>{{ order }}</p>
{% for order_item in order.order_items.all %}
  <p>{{ order_item.pk }}</p>
  <p>{{ order_item.product.name }}</p>
  <p>{{ order_item.quantity }}</p>
  <p>{{ order_item.product.price }}</p>
  <p>{{ order_item.sub_total }}</p>
  <hr>
{% endfor %}
<p>합계 : {{ order.total }}</p>
<input type="hidden" id="payments_data" data-total-amount="{{ order.total }}" data-order-id="{{ order.pk }}" data-order-item="{{ order.order_items.first.product.name }}">
<hr>
<p>연락처</p>
<p>주소</p>
{% comment %} <form action="{% url 'carts:kakaopay' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="order_id" value="{{ order.pk }}">
  <button>
    결제하기
  </button>
</form> {% endcomment %}
<button onclick="requestPay()">신용카드 결제하기</button>
{% comment %} <button onclick="requestPay2()">신용카드 결제하기2</button> {% endcomment %}
<button onclick="kakaoPay()">kakaopay 결제하기</button>
{% comment %} <button onclick="eximbayPay()">엑심베이(Eximbay) 결제하기</button> {% endcomment %}
<button onclick="danalPay()">다날 결제하기</button>
{% comment %} <button onclick="danalPay2()">다날 결제하기2</button> {% endcomment %}
<button onclick="tossPay()">Toss 결제하기</button>
<button onclick="paycoPay()">payco 결제하기</button>
{% comment %} <button onclick="paypalPay()">paypal 결제하기</button> {% endcomment %}
<button onclick="smilePay()">스마일페이 결제하기</button>
{% endblock content %}


{% block script %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script src="{% static 'payments/js/order_page.js' %}"></script>
{% endblock script %}