{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <link rel="stylesheet" href="{% static 'carts/css/order_page.css' %}">
{% endblock head %}

{% block content %}
<div class="order_container" id="shop">
  <header>
		<h1>주문결제하기</h1>
	</header>
	<div class="orderInfo">
    <!-- 주문 내역 시작-->
    <div class="orders">
			{% comment %} <h2>주문 정보</h2> {% endcomment %}
			<table class="shopTable">
				<caption class="sr-only">주문 정보</caption>
				<thead>
					<tr>
						<th scope="col">상품정보</th>
            <th scope="col">판매가</th>
						<th scope="col">주문수량</th>
						<th scope="col">주문금액</th>
          </tr>
				</thead>
				<tbody>
          {% for order_item in order.order_items.all %}
            <tr>
              <td class="goodInfo">
                <a href="{% url 'stores:products_detail' order_item.product.store.pk order_item.product.pk %}">
                  <div class="thumb">
                    <img src="{{ order_item.product.images.first.image.url }}" alt="{{ order_item.product.name }}">
                  </div>
                  <div class="info">
                    <p><strong>{{ order_item.product.name }}</strong></p>
                  </div>
                </a>
              </td>
              <td><span class="xsTh">판매가</span>{{ order_item.product.price|intcomma }}원</td>
              <td><span class="xsTh">주문수량</span>{{ order_item.quantity }}</td>
              <td><span class="xsTh">주문금액</span>{{ order_item.sub_total|intcomma }}원</td>
            </tr>
          {% endfor %}
        </tbody>
				<tfoot>
					<tr>
						<td colspan="4" class="detailPrice">
              {% comment %} <div class="priceBox">총 주문금액 <span class="price">{{ order.total|intcomma }}</span>원</div>
              <div class="priceBox">배송비 <span class="price">0</span>원</div> {% endcomment %}
              <div class="priceBox">총 결제금액 <span class="total pointColor">{{ order.total|intcomma }}</span>원</div>
            </td>
					</tr>
				</tfoot>
			</table>
		</div>
    <!-- 주문 내역 끝-->
    <!-- 포인트 -->
    <div class="orderBox">
      <div>
        <label for="use_points" class="form_label">포인트 적용</label>
        <input type="number" id="use_points" class="form-control" value=0 placeholder="사용할 포인트" min=0 max={{ user.points }} data-user-points="{{ user.points }}">
        <p class="point_label">보유중인 포인트 <span class="pointColor">{{ user.points|intcomma }}</span></p>
      </div>
    </div>
    <!-- 배송 정보 시작-->
    <div class="orderBox">
      <h2>배송 정보</h2>
      <div class="input_wrap">
        <div class="input_box">
          <label for="receiver" class="form_label">받으시는 분</label>
          <input type="text" id="receiver" class="form-control" value="{{ request.user.last_name }}" placeholder="이름을 입력하세요.">
        </div>
        <div class="input_box">
          <label for="order_phone" class="form_label">연락처</label>
          <input type="text" id="order_phone" class="form-control" value="{{ request.user.phone }}" name="phone" placeholder="-를 포함하여 입력하세요.">
        </div>
      </div>
      <div class="input_wrap">
        <div class="input_box">
          <label class="form_label">주소</label>
          <div class="postcode_box">
            <input type="text" id="order_address_postcode" class="form-control" value="" placeholder="우편번호" readonly>
            <button class="address_btn" onclick="execDaumPostcode()">
              주소찾기
            </button>
          </div>
          <div>
            <input type="text" id="order_address" class="form-control" value="{{ request.user.address }}" placeholder="주소" readonly>
          </div>
          <div>
            <input type="text" id="order_address_detail" class="form-control" value="" placeholder="상세주소">
          </div>
        </div>
        <div class="input_box">
          <label for="order_msg" class="form_label">배송 메세지</label>
          <textarea id="order_msg" class="form-control order_msg" name="msg" placeholder="배송 메모" value=""></textarea>
        </div>
      </div>
      {% comment %} <div>
        <label for="order_email">이메일 : </label> {% endcomment %}
        <input type="hidden" id="order_email" value="{{ request.user.email }}">
      {% comment %} </div> {% endcomment %}
    </div>
    <!-- 배송 정보 끝-->
    <!-- 결제 수단 시작-->
    <div class="orderBox">
      {% csrf_token %}
      <input type="hidden" name="pg" id="pg" value="html5_inicis.INIBillTst">
      <input type="hidden" id="payments_data" data-user-name="{{ request.user.username }}" data-total-amount="{{ order.total }}" data-order-id="{{ order.pk }}" data-order-item="{{ order.order_items.first.product.name }}">
      <h2>결제 수단</h2>
      <ul class="pay_method">
        <li>
          <label for="inicis">
            <input type="radio" name="pg_btn" id="inicis" onclick="pay_type('html5_inicis.INIBillTst')" checked>
            신용카드
          </label>
        </li>
        <li>
          <label for="kakaopay">
            <input type="radio" name="pg_btn" id="kakaopay" onclick="pay_type('kakaopay')">
            카카오 페이
          </label>
        </li>
        <li>
          <label for="eximbay">
            <input type="radio" name="pg_btn" id="eximbay" onclick="pay_type('eximbay')">
            엑심베이(Eximbay)
          </label>    
        </li>
        <li>
          <label for="danal">
            <input type="radio" name="pg_btn" id="danal" onclick="pay_type('danal.A010002002')">
            다날
          </label>    
        </li>
        <li>
          <label for="tosspay">
            <input type="radio" name="pg_btn" id="tosspay" onclick="pay_type('tosspay.tosstest')">
            Toss
          </label>    
        </li>
        <li>
          <label for="payco">
            <input type="radio" name="pg_btn" id="payco" onclick="pay_type('payco.PARTNERTEST')">
            PAYCO
          </label>    
        </li>
        <li>
          <label for="smilepay">
            <input type="radio" name="pg_btn" id="smilepay" onclick="pay_type('smilepay.cnstest25m')">
            스마일페이
          </label>    
        </li>
      </ul>
    </div>
    <!-- 결제 수단 끝-->
  </div>
  <div class="pay_btn_box">
    <button class="pay_btn" onclick="requestPay()">결제하기</button>
  </div>
</div>

{% comment %} <form action="{% url 'carts:kakaopay' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="order_id" value="{{ order.pk }}">
  <button>
    결제하기
  </button>
</form> {% endcomment %}
{% comment %} <button onclick="requestPay()">신용카드 결제하기</button>
<button onclick="requestPay2()">신용카드 결제하기2</button>
<button onclick="kakaoPay()">kakaopay 결제하기</button>
<button onclick="eximbayPay()">엑심베이(Eximbay) 결제하기</button>
<button onclick="danalPay()">다날 결제하기</button>
<button onclick="tossPay()">Toss 결제하기</button>
<button onclick="paycoPay()">payco 결제하기</button>
<button onclick="smilePay()">스마일페이 결제하기</button> {% endcomment %}
{% comment %} <button onclick="danalPay2()">다날 결제하기2</button> {% endcomment %}
{% comment %} <button onclick="paypalPay()">paypal 결제하기</button> {% endcomment %}
{% comment %} <button onclick="naverPay()">네이버페이 결제하기</button> {% endcomment %}

{% endblock content %}


{% block script %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'payments/js/order_page.js' %}"></script>
<script src="{% static 'payments/js/order_payment.js' %}"></script>
{% endblock script %}