{% extends 'base.html' %}
{% load static %}
{% block title %}
  Chat
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/chat/inbox.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
{% endblock head %}

{% block content %}
<article class="inbox--container">
  {% comment %} inbox 왼쪽 section - 채팅방 추가 {% endcomment %}
  <section class="inbox-user inbox__left">
    {% comment %} 나와의 채팅 생성 버튼 {% endcomment %}
    <div class="chat_with_me inbox__button-container">
      <a class="inbox__button--big" href="{% url 'chat:start_chat' user.id %}">나와의 채팅</a>
    </div>
    {% comment %} 새 채팅방 만들기 버튼 & 만들기 취소 버튼 {% endcomment %}
    <div class="inbox__button-container">
      <button id="make-chat-btn" class="inbox__button--big">새 채팅방 만들기</button>
      <button id="cancel-make-btn" class="inbox__button--big none">만들기 취소</button>
    </div>
    {% comment %} 사용자 목록 (새 채팅방 만들기하면 보이도록 함) {% endcomment %}
    <div id="user-list" class="user-list none">
      <form method="post" action="{% url 'chat:start_group_chat' %}">
        <div class="user-list__top">
          <span class="user-list__title">사용자 목록</span>
          <input type="submit" value="만들기" class="make_btn none" id="create_chat_btn">
        </div>
        {% csrf_token %}
        <div class="users">
          {% for user in all_users %}
            <label class="user" for="user__checkbox-{{ user.id }}">
              <div class="user__left">
                <div class="user__left__img">
                  {% if user.image %}
                    <img src="{{ user.image.url }}" alt="">
                  {% else %}
                    <p>이미지 없음</p>
                  {% endif %}
                </div>
                <div class="user__left__name">
                  <span>{{ user.first_name }} ({{ user.username }})</span>
                </div>
              </div>
              <div class="user__checkbox-container">
                <input type="checkbox" name="user_ids" id="user__checkbox-{{ user.id }}" value="{{ user.id }}">
              </div>
            </label>
          {% comment %} 사용자 목록 없을 경우 보일 화면 {% endcomment %}
          {% empty %}
            <p>다른 사용자가 없습니다.</p>
          {% endfor %}
        </div>
        {% comment %} 채팅장 만들기 (사용자 목록이 비어있지 않을때만 보임) {% endcomment %}
      </form>
    </div>
  </section>
  {% comment %} inbox 오른쪽 - 채팅 목록 {% endcomment %}
  <section id="chat-rooms-section" class="inbox-room">
    {% comment %} 채팅 목록 제목 및 편집 버튼 {% endcomment %}
    <div class="inbox-room__top">
      <span class="inbox-rom__top__title">채팅 목록</span>
      <div class="inbox-room__top__btn">
        <button id="edit-chats-btn">편집</button>
      </div>
    </div>
    {% comment %} 채팅 목록 공간 {% endcomment %}
    <div class="chat-room__bottom" id="chat-room__bottom">
      {% comment %} chat_rooms가 있을 경우 보일 화면 {% endcomment %}
      {% if chat_rooms %}
        {% for chat_room, last_message, unread_notifications in chat_rooms %}
          <div class="chat_room" id="{{ chat_room.name }}" value="{{ chat_room.pk }}">
            <a href="{% url 'chat:room' chat_room.name %}" id="room_name" class="chat">
              {% comment %} 왼쪽 공간 - 채팅방 이름 및 최신 채팅 {% endcomment %}
              <section class="chat__left">
                {% comment %} 여러명의 채팅방일 경우 임의의 채팅창 이미지를, 한명과의 채팅일 경우 해당 인물의 프로필 화면을 {% endcomment %}
                <span class="chat__left__name">{{ chat_room }}</span>
                <span class="last-message">{{ last_message.content }}</span>
              </section>
              {% comment %} 오른쪽 공간 - 최신 채팅 시간, 안읽은 메시지 수 {% endcomment %}
              <section class="chat__right">
                <span class="timestamp">{{ last_message.formatted_timestamp }}</span>
                <div class="chat__right__unread unread_count notification--color noti ">
                  {% if unread_notifications %}
                    {{ unread_notifications }}
                  {% else %}
                    0
                  {% endif %}
                </div>
              </section>
            </a>
            {% comment %} 편집 버튼 클릭시 가장 오른쪽에 위치하는 나가기 버튼 {% endcomment %}
            <div class="chat__delete none">
              <form action="{% url 'chat:delete_chat' room_name=chat_room.name %}" method="post">
                {% csrf_token %}
                <input type="submit" value="나가기">
              </form>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% comment %} chat_rooms가 없을 경우 보일 화면 {% endcomment %}
      <p id="no-chat-rooms" {% if chat_rooms %}style="display:none"{% endif %}>채팅방이 없습니다.</p>
    </div>
  </section>
</article>
{% endblock content %}

{% block script %}
{% comment %} 편집 버튼 클릭 시 나가기 버튼 보이게 {% endcomment %}
<script>
  const editChatsBtn = document.querySelector("#edit-chats-btn")
  const deleteChatBtns = document.querySelectorAll(".chat__delete")

  function showdeleteChatBtn() {
    if (editChatsBtn.innerText == "편집") {
      editChatsBtn.innerText = "편집 취소";
    } else {
      editChatsBtn.innerText = "편집";
    }
    deleteChatBtnsInit();
  }
  
  function deleteChatBtnsInit() {
    const deleteChatBtns = document.querySelectorAll(".chat__delete");
    for (let i = 0; i < deleteChatBtns.length; i++) {
      deleteChatBtns[i].classList.toggle('none');
    }
  }

  editChatsBtn.addEventListener("click", showdeleteChatBtn)
</script>

<script>
  function checkIfNoChatRooms() {
    const chatRoomSection = document.getElementById("chat-room__bottom");
    const chatRooms = chatRoomSection.getElementsByClassName("chat_room");
    const noChatRooms = document.getElementById("no-chat-rooms");

    if (chatRooms.length === 0) {
        noChatRooms.style.display = "block";
    } else {
        noChatRooms.style.display = "none";
    }
  }
</script>
<script>
  function updateNewChatRooms() {
    fetch("{% url 'chat:new_chat_rooms' %}")
      .then(response => response.json())
      .then(data => {
        const chatRoomSection = document.getElementById("chat-room__bottom");
        const fetchedChatRoomNames = new Set();

        data.chat_rooms.forEach(chat_room => {
          fetchedChatRoomNames.add(chat_room.name);
          const existingChatRoom = document.getElementById(chat_room.name);
          if (!existingChatRoom) {
            const newChatRoom = document.createElement("div");
            newChatRoom.id = chat_room.name;
            newChatRoom.value = chat_room.pk;
            newChatRoom.classList.add('chat_room');
  
            const chatRoomLink = document.createElement("a");
            chatRoomLink.href = `{% url 'chat:room' 'PLACEHOLDER' %}`.replace('PLACEHOLDER', chat_room.name);
            chatRoomLink.id = "room_name";
            chatRoomLink.classList.add("chat");
            
            const chat_left = document.createElement("section");
            chat_left.classList.add('chat__left');
            const chat_left_name = document.createElement("span");
            chat_left_name.classList.add('chat__left__name');
            chat_left_name.textContent = chat_room.name;
            chat_left.appendChild(chat_left_name)
            const lastMessageElement = document.createElement("span");
            lastMessageElement.classList.add("last-message");
            lastMessageElement.textContent = "메시지 없음";
            chat_left.appendChild(lastMessageElement);
            chatRoomLink.appendChild(chat_left);

            const chat_right = document.createElement("section");
            chat_right.classList.add('chat__right');
            const timestampElement = document.createElement("span");
            timestampElement.classList.add("timestamp");
            timestampElement.textContent = "";
            chat_right.appendChild(timestampElement);
            const unreadCountElement = document.createElement("div");
            unreadCountElement.classList.add("chat__right__unread", "unread_count", "notification--color", "noti");
            unreadCountElement.textContent = "0";
            chat_right.appendChild(unreadCountElement);
            chatRoomLink.appendChild(chat_right);

            newChatRoom.appendChild(chatRoomLink);

            const deleteDiv = document.createElement("div");
            deleteDiv.classList.add("chat__delete", "none");
            deleteDiv.addEventListener('click', showdeleteChatBtn);
            

            const deleteForm = document.createElement("form");
            deleteForm.action = `{% url 'chat:delete_chat' room_name='PLACEHOLDER' %}`.replace("PLACEHOLDER", chat_room.name);
            deleteForm.method = "post";

            const csrfToken = document.createElement("input");
            csrfToken.type = "hidden";
            csrfToken.name = "csrfmiddlewaretoken";
            csrfToken.value = "{{ csrf_token }}";
            deleteForm.appendChild(csrfToken);
  
            const deleteButton = document.createElement("input");
            deleteButton.type = "submit";
            deleteButton.value = "나가기";
            deleteForm.appendChild(deleteButton);

            deleteDiv.appendChild(deleteForm);

            newChatRoom.appendChild(deleteDiv);
            deleteChatBtnsInit();

            chatRoomSection.appendChild(newChatRoom);
            checkIfNoChatRooms();
          }
        });
        const currentChatRooms = chatRoomSection.getElementsByClassName("chat_room");
        Array.from(currentChatRooms).forEach(chatRoomDiv => {
          if (!fetchedChatRoomNames.has(chatRoomDiv.id)) {
            chatRoomDiv.remove();
            checkIfNoChatRooms();
          }
        });
      })
  }

  function updateNotificationData() {
    fetch("{% url 'chat:unread_notifications' %}")
      .then(response => response.json())
      .then(data => {
        data.data.forEach(chat_room_data => {
          let chat_room_div = document.getElementById(chat_room_data.room_name);
          let unread_count = chat_room_div.querySelector(".unread_count");
          let last_message = chat_room_div.querySelector(".last-message");
          let timestamp = chat_room_div.querySelector(".timestamp");

          if (chat_room_data.unread_notifications > 0) {
            unread_count.classList.remove("noti")
            unread_count.textContent = chat_room_data.unread_notifications;
          }  else {
            unread_count.classList.add("noti");
            unread_count.textContent = '';
        }
          last_message.textContent = chat_room_data.last_message;
          timestamp.textContent = chat_room_data.last_message_timestamp;
        });
      });
  }

  updateNewChatRooms();
  updateNotificationData();
  setInterval(updateNewChatRooms, 5000);
  setInterval(updateNotificationData, 5000);
</script>


{% comment %} 비동기 이외 click event {% endcomment %}
{% comment %} 채팅창 만들기 버튼 관련 {% endcomment %}
<script>
  const makeChatBtn = document.querySelector("#make-chat-btn")
  const cancelMakeBtn = document.querySelector("#cancel-make-btn")
  const userList = document.querySelector("#user-list")
  const checkboxes = document.querySelectorAll(".user__checkbox-container > input[type='checkbox']")

  function clickForMakeChat() {
    makeChatBtn.classList.add("none")
    cancelMakeBtn.classList.remove("none")
    userList.classList.remove("none")
  }
  function cancelMakeChat() {
    cancelMakeBtn.classList.add("none")
    userList.classList.add("none")
    makeChatBtn.classList.remove("none")
    for (let i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = false
    }
    createChatBtn.classList.add('none')
  }
  makeChatBtn.addEventListener("click", clickForMakeChat)
  cancelMakeBtn.addEventListener("click", cancelMakeChat)

  {% comment %} 사용자 목록 체크 후 버튼 보이게 - checkboxes는 위에서 선언한거 이용 {% endcomment %}
  const createChatBtn = document.querySelector("#create_chat_btn")

  function showcreateChatBtn() {
    for (let i=0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        createChatBtn.classList.remove('none')
        return
      }
    }
    createChatBtn.classList.add('none')
  }
  for (let i = 0; i < checkboxes.length; i++) {
    checkboxes[i].addEventListener('change', showcreateChatBtn);
  }

</script>

{% endblock script %}
