{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat/room.css' %}">
{% endblock head %}

{% block content %}
<article>
  {% comment %} 출력안되는 {% endcomment %}
  {{ room_name|json_script:"room-name" }}
  <input type="hidden" id="username" value="{{ request.user.first_name }}">
  <div class="room_name">
    <a id="inbox-link" href="{% url 'chat:inbox' %}"> < </a>
    {{ room_name }}
  </div>
  <section class="room">
    <div id="chat-room" class="chat-room">
      {% for message in messages %}
        <div class="message">
          {% if message.sender == request.user %}
            <div class="my-message">
              <p class="message-content_me">{{ message.content }}</p>
              <p class="time-stamp">{{ message.formatted_timestamp }}</p>
            </div>
          {% else %}
            <div class="other-message">
              <div class="sender">
                {% if message.sender.image %}
                  <div><img class="sender-image" src="{{ message.sender.image.url }}" alt=""></div>
                {% else %}
                  <div><img class="sender-image" src="{% static 'img/accounts/no-image-icon-21.png' %}" alt=""></div>
                {% endif %}
                <p>{{ message.sender.first_name }}</p>
              </div>
              <p class="message-content">{{ message.content }}</p>
              <p class="time-stamp">{{ message.formatted_timestamp }}</p>
            </div>
          {% endif %}
        </div>
      {% empty %}
        <p>No messages yet.</p>
      {% endfor %}
    </div>
    <form id="text_form" class="text-form">
      <input type="text" id="message_input" name="message" placeholder="채팅을 입력하세요." autocomplete="off">
      <button type="submit" class="message-btn">전송</button>
    </form>
  </section>
</article>

{% endblock %}

{% block script %}
<script src="{% static 'js/chat/room.js' %}" type="text/javascript"></script>
{% endblock script %}
