{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat/room.css' %}">
{% endblock head %}

{% block content %}
{{ room_name|json_script:"room-name" }}
<input type="hidden" id="username" value="{{ request.user.username }}">
  <div id="chat-room">
    {% for message in messages %}
      <div class="message">
        {% if message.sender == request.user %}
          <div class="my-message">
            <p>{{ message.content }}</p>
            <p>{{ message.formatted_timestamp }}</p>
          </div>
        {% else %}
          <div class="other-message">
            <p>{{ message.sender.username }}</p>
            <p>{{ message.content }}</p>
            <p>{{ message.formatted_timestamp }}</p>
          </div>
        {% endif %}
      </div>
    {% empty %}
      <p>No messages yet.</p>
    {% endfor %}
  </div>

  <form id="text_form" class="text-form">
    <input type="text" id="message_input" name="message" placeholder="Type your message">
    <button type="submit">Send</button>
  </form>
{% endblock %}

{% block script %}
<script src="{% static 'js/chat/room.js' %}" type="text/javascript"></script>
{% endblock script %}
