section {
  margin: 50px 0;
  padding-top: 50px;
}

.product_container {
  max-width: 1080px;
  background-color: #EDF1F4;
  margin: auto;
  text-align: center;
}
.product_info {
  display: flex;
}

/* img area */
.product_info_img_area {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main img */
.product_main_img_container {
  width: 500px;
  height: 500px;
}
.product_main_img_container > img {
  max-width: 100%;
  object-fit: cover;
}

/* info */
.product_info_area {
  flex-grow: 1;
  padding-right: 50px;
}
/* product quantity*/
.product_quantity_box {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
.product_quantity_container {
  /* border: 3px solid #000000; */
  display: flex;
}
.product_quantity_button {
  background-color: transparent;
  font-size: 1.2rem;
  width: 30px;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
.product_quantity_button:hover {
  background-color: #a0a0a0;
}
.product_quantity {
  width: 3rem;
  text-align: center;
  line-height: 1.2rem;
}


@media (max-width: 1079px) {
  .product_info {
    flex-direction: column;
    align-items: center;
  }
}