{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/challenges/detail.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
{% endblock head %}

{% block content %}
<br>
<h1>{{ challenge.title }}</h1>
<br>
<p>{{ challenge.description }}</p>

<div class="challenge-image-container">
    {% for image in challenge_images %}
    <div class="challenge-image">
        <img src="{{ image.image.url }}" alt="">

        {% if ended %}
        <div class="ended-overlay">
            <span>종료된 캠페인입니다.</span>
        </div>
        {% endif %}
    </div>
    {% empty %}
        <p>이미지가 없습니다.</p>
    {% endfor %}
</div>
{% if request.user == challenge.creator %}
    <form action="{% url 'challenges:delete' challenge.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>
    <form action="{% url 'challenges:update' challenge.pk %}" method="GET">
        {% csrf_token %}
        <input type="submit" value="수정">
    </form>
{% endif %}
<br>
<h5>
    <p>* 참여기간: {{ challenge.start_date|date:"Y년 m월 d일" }}
    ~ {{ challenge.end_date|date:"Y년 m월 d일" }}
    {% if days_remaining >= 0 %}
    <span class="red-text">{{ d_day_string }}</span>
    {% else %}
    종료된 캠페인입니다.
    {% endif %}
    </p>    
    <p>* 모집인원 000</p>
</h5>
{% comment %} 참가/미참가 {% endcomment %}
<br>
<form id="participation-form" action="{% url 'challenges:participation' challenge_pk=challenge.pk %}" method="POST">
    {% csrf_token %}
    <button id="participation-toggle" class="green-button" type="submit">
        {% if request.user in challenge.participants.all %}
            미참가
        {% else %}
            참가
        {% endif %}
    </button>
    <div id="participants-count">참여인원: {{ challenge.participants.count }}명</div>
</form>
<br>
<!--인증 작성-->
{% if user.is_authenticated %}
    <div>
    <form action="{% url 'challenges:certification_create' challenge.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ certification_form.as_p }}
        <div>
        <input type="submit" value="작성하기">
        </div>
    </form>
    </div>
{% else %}
    <div>
        <p>리뷰를 작성하려면&nbsp;<a href="{% url 'accounts:login' %}"> 로그인</a>이 필요합니다.</p>
    </div>
{% endif %}
 

<br>
<!--인증 내용-->
{% if u_certification_forms %}
    {% for certification, u_certification_form in u_certification_forms %}
            <div class="d-wrapper">
                <div class="d-title-wrapper">
                    <p class="d-title">{{ certification.title }}</p>
                    <!--내용-->
                    <p class="d-content">{{ certification.content|linebreaksbr }}</p>
                    {% if certification.image %}
                    <img src="{{certification.image.url }}" alt="이미지">
                    {% endif %}
                </div>
                <div class="d-content-wrapper">
                    <p class="d-username">작성자 : {{ certification.user.username }}</p>
                    <p class="d-created_at">{{ certification.created_at|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;{{ certification.created_at|date:"H:i:s" }}</p>
                </div>
            </div>

            <!-- 수정 및 삭제 버튼 추가 -->
            {% if user == certification.user %}
            <div class="modify-delete-buttons">
                <!-- 수정 버튼 -->
                <button class="review-btn" id="certificationUpdateButton{{ certification.pk }}" type="button" onclick="toggleCertificationUpdateForm({{ certification.pk }})">수정</button>
                <form id="certificationUpdateForm{{ certification.pk }}" action="{% url 'challenges:certification_update' challenge.pk certification.pk %}" method="POST" enctype="multipart/form-data" style="display:none;">
                    {% csrf_token %}
                    {{ u_certification_form.as_p }}
                    
                    <div class="button-wrapper">
                        <button class="u-button" type="submit">수정</button>
                    </div>
                </form>






                <!-- 삭제 버튼 -->
                <form action="{% url 'challenges:certification_delete' challenge.pk certification.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">삭제</button>
                </form>
            </div>
        {% endif %}

    {% empty %}
    <p>게시물이 없습니다.</p>

    {% endfor %}


    
{% endif %}
<script>
function toggleCertificationUpdateForm(certification_id) {
  const form = document.getElementById("certificationUpdateForm" + certification_id);
  const box = document.querySelector(".certification--box");
  const button = document.getElementById("certificationUpdateButton" + certification_id);
  
  if (form.style.display === "none") {
    form.style.display = "block";
    box.style.display = "none";
    button.innerHTML = "취소";
  } else {
    form.style.display = "none";
    box.style.display = "block";
    button.innerHTML = "리뷰 수정";
  }
}

// 참가/미참가

document.addEventListener('DOMContentLoaded', function() {
    const participationForm = document.getElementById("participation-form");
    const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    const participationToggleBtn = document.getElementById("participation-toggle");
    const participantsCountDiv = document.getElementById("participants-count");

    participationForm.addEventListener("submit", function(event) {
        event.preventDefault();

        fetch(participationForm.action, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken,
            },
            body: {},
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.is_participating) {
                    participationToggleBtn.textContent = "미참가";
                } else {
                    participationToggleBtn.textContent = "참가";
                }
                participantsCountDiv.textContent = `참여인원: ${data.participants_count}명`;
            });
    });
});
</script>
{% endblock content %}