{% extends "base.html" %}

{% load static %}

{% block title %}
{{ challenge.title }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/challenges/detail.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
{% endblock head %}

{% block content %}
<div class="challenges-title-wrap">
  <div class="challenges-title-box">
    <p class="challenges-title-title">{{ challenge.title }}</p>
    <p class="challenges-title-text">{{ challenge.description }}</p>
  </div>
</div>

<div class="challenge-wrapper">
  <div class="challenge-image-container">
      {% for image in challenge_images %}
      <div class="challenge-image">
          <img src="{{ image.image.url }}" alt="">

          {% if ended %}
          <div class="ended-overlay">
              <span>종료된 캠페인입니다.</span>
          </div>
          {% endif %}
      </div>
      {% empty %}
          <p>이미지가 없습니다.</p>
      {% endfor %}
  </div>
  {% if request.user == challenge.creator %}
  <div class="btn-wrapper">
    <form action="{% url 'challenges:update' challenge.pk %}" method="GET">
      {% csrf_token %}
      <input class="btn-update" type="submit" value="수정">
    </form>
    <form action="{% url 'challenges:delete' challenge.pk %}" method="POST">
      {% csrf_token %}
      <input class="btn-delete" type="submit" value="삭제">
    </form>
  </div>    
  {% endif %}
  <div class="challenge-date">
    <p >* 참여 기간 : {{ challenge.start_date|date:"Y년 m월 d일" }}
    ~ {{ challenge.end_date|date:"Y년 m월 d일" }}
    {% if days_remaining >= 0 %}
    <span class="red-text">{{ d_day_string }}</span>
    <div class="participation-count">참여인원 : <span id="participants-count">{{ challenge.participants.count }}</span>명</div>

    {% else %}
    종료된 캠페인입니다.
    {% endif %}
    </p>    
  </div>
  {% comment %} 참가/미참가 {% endcomment %}
  <br>

  <form class="participation-forms" action="{% url 'challenges:participation' challenge_pk=challenge.pk %}" method="POST" data-challenge-id="{{ challenge.pk }}">
    {% csrf_token %}
    <button id="participation-toggle-{{ challenge.pk }}" class="green-button" type="{% if days_remaining < 0 or ended %}button{% else %}submit{% endif %}" {% if days_remaining < 0 %}onclick="showEndedMessage()"{% endif %}>
      {% if request.user in challenge.participants.all %}
        참여하기
      {% else %}
        참여 취소
      {% endif %}
    </button>
  </form>

  <br>
  <div id="certification_form_container" class="certification-none">
    <form class="input-form"action="{% url 'challenges:certification_create' challenge.pk %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <p class="form_label">인증 제목<span class="required_star">*</span></p>
        {{ certification_form.title }}
      </div>
      <div>
        <p class="form_label">인증 내용<span class="required_star">*</span></p>
        {{ certification_form.content }}
      </div>
      <div>
        <p class="form_label">인증 이미지<span class="required_star">*</span></p>
        {{ certification_form.image }}
      </div>    
        <div class="btn-wrapper">
          <input class="btn-delete"type="submit" value="작성하기">
        </div>
    </form>
    <p>챌린지에 참여하신 사용자만 인증이 가능합니다.</p>
  </div>

  <br>
  <!--인증 내용-->
  {% if u_certification_forms %}
  
    <div class="challenge-box">
      {% for certification, u_certification_form in u_certification_forms %}
        <div class="c-wrapper certification--box">
          <div class="c-title-wrapper">
            <p class="c-username">{{ certification.user.first_name }}</p>         
            {% if certification.image %}
            <img class="c-image"src="{{certification.image.url }}" alt="이미지">
            {% else %}
            <img class="c-image"src="{% static 'img/chellenges/no-image.png' %}" alt="이미지">
            {% endif %}
          </div>
          <div class="c-content-wrapper">
            <p class="c-title">{{ certification.title }}</p>
            <p class="c-content">{{ certification.content }}</p>
            <p class="c-created_at">{{ certification.created_at|date:"Y-m-d" }}</p>
          </div>
        </div>

        <!-- 수정 및 삭제 버튼 추가 -->
        {% if user == certification.user %}
          <div class="modify-delete-buttons input-form">
            <!-- 수정 버튼 -->
            <button class="c-button" id="certificationUpdateButton{{ certification.pk }}" type="button" onclick="toggleCertificationUpdateForm({{ certification.pk }})">수정</button>
            <form id="certificationUpdateForm{{ certification.pk }}" action="{% url 'challenges:certification_update' challenge.pk certification.pk %}" method="POST" enctype="multipart/form-data" style="display:none;">
              {% csrf_token %}
              <div>
                <p class="form_label" style="margin-top: 3rem;">인증 제목<span class="required_star">*</span></p>
                {{ u_certification_form.title }}
              </div>
              <div>
                <p class="form_label">인증 내용<span class="required_star">*</span></p>
                {{ u_certification_form.content }}
              </div>
              <div>
                <p class="form_label">인증 이미지<span class="required_star">*</span></p>
                {{ u_certification_form.image }}
              </div>    
              <div class="button-wrapper">
                <input class="btn-delete" type="submit" value="수정">
                <form action="{% url 'challenges:certification_delete' challenge.pk certification.pk %}" method="POST">
                  {% csrf_token %}
                  <!-- 삭제 버튼 -->
                  <button class="btn-update" type="submit">삭제</button>
                </form>
              </div>
            </form>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>인증이 없습니다.</p>
  {% endif %}
</div>

<script>
  const participationToggleButton = document.getElementById("participation-toggle-{{ challenge.pk }}");

  participationToggleButton.addEventListener("click", function (e) {
    {% if not request.user.is_authenticated %}
      e.preventDefault(); 
      alert("로그인이 필요한 기능입니다. 로그인 페이지로 이동합니다.");
      location.href = "/accounts/login/";
    {% endif %}
  });

  function showEndedMessage() {
    alert("이미 종료된 챌린지입니다.");
  }

  function showCertification() {
    alert("이미 인증을 완료하셨습니다. 추가 인증은 불가능합니다.");
  }
</script>
<script>

function disableParticipationForm() {
  const participantBtn = document.querySelector(".green-button");
  participantBtn.setAttribute("disabled", "disabled");
  participantBtn.addEventListener("click", function () {
    alert("이미 인증을 완료하셨습니다. 추가 인증은 불가능합니다.");
  });
}

const userHasCertified = {{ user_has_certified|yesno:"true,false" }};

if (userHasCertified) {
  disableParticipationForm();
}

const participationForm = document.querySelectorAll(".participation-forms");
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
participationForm.forEach((form) => {
  form.addEventListener('submit', function (e){
    e.preventDefault();
    const challengeId = e.target.dataset.challengeId;

    axios({
      method: "POST",
      url: `/challenges/${challengeId}/participation/`,
      headers: {'X-CSRFToken': csrftoken},
    })
    .then((response) => {
      console.log(response.data)
      const isParticipating = response.data.is_participating;
      const participantBtn = document.querySelector(`#participation-toggle-${challengeId}`);
      const participantCount = document.querySelector(`#participants-count`);
      const certificationForm = document.querySelector(`#certification_form_container`)
      const isCertified = response.data.is_certified;
      console.log(isCertified)

      if (isCertified) {
        disableParticipationForm();
      } else {
        if (isParticipating) {
          participantBtn.textContent = "참여 취소";
          certificationForm.classList.remove('certification-none');
        } else {
          participantBtn.textContent = "참여하기";
          certificationForm.classList.add('certification-none');
        }
        participantCount.innerText = response.data.participants_count;
      }
    })
    .catch((error) => {
      console.log(error.response);
    });
  })
  const participantBtn = form.querySelector(`button`);
  participantBtn.textContent = "참여하기";
})


function toggleCertificationUpdateForm(certification_id) {
  const form = document.getElementById("certificationUpdateForm" + certification_id);
  const box = document.querySelector(".certification--box");
  const button = document.getElementById("certificationUpdateButton" + certification_id);
  
  if (form.style.display === "none") {
    form.style.display = "block";
    box.style.display = "none";
    button.innerHTML = "취소";
  } else {
    form.style.display = "none";
    box.style.display = "block";
    button.innerHTML = "수정";
  }
}

</script>
{% endblock content %}