{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/challenges/index.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock head %}

{% block title %}
챌린지
{% endblock title %}

{% block content %}
<div class="challenges-title-wrap">
  <div class="challenges-title-box">
    <p class="challenges-title-title">챌린지</p>
    <p class="challenges-title-text">지구행은 지구 환경 보호를 위한 다양한 챌린지를 진행하고 있습니다.</p>
    <p class="challenges-title-text">우리의 노력은 더 깨끗하고 지속 가능한 지구를 만들기 위한 것입니다.</p>
  </div>
</div>

<div class="challenge-wrapper">
  <div class="challenge-inner">
    {% for challenge in page_obj %}
      <div class="item">
        <a href="{% url 'challenges:detail' challenge.id %}">
          <div class="image-wrapper">
            {% for image in challenge.challengeimage_set.all %}
            <img class="image"src="{{ image.image.url }}" alt="Challenge Image">
            {% endfor %}
          </div>
          <div class="content-wrapper">
            <p class="c-title">{{ challenge.title }}</p>
            <p class="c-date">{{ challenge.start_date|date:"Y-m-d" }}~{{ challenge.end_date|date:"Y-m-d" }}</p>
            <div class="icon-box">
              <i class="fa-regular fa-user"></i>{{ challenge.participants.count }}
              <i class="fa-regular fa-comment-dots"></i>{{ challenge.certifications.count }}
            </div>  
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="c-write-wrapper">
    {% if request.user.is_superuser %}
      <a class="c-write" href="{% url 'challenges:create' %}">글쓰기</a>
    {% endif %}
  </div>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1" class="{% if page_obj.number == 1 %}disabled{% endif %}">«</a>
      {% else %}
        <span class="disabled">«</span>
      {% endif %}
  
      {% if page_obj.number > 2 %}
        <span class="ellipsis">...</span>
      {% endif %}
  
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i or i|add:"-1" == page_obj.number or i|add:"1" == page_obj.number %}
          {% if page_obj.number == i %}
            <span class="current-page">{{ i }}</span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
  
      {% if page_obj.number < page_obj.paginator.num_pages|add:"-1" %}
        <span class="ellipsis">...</span>
      {% endif %}
      
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.paginator.num_pages }}" class="{% if page_obj.number == page_obj.paginator.num_pages %}disabled{% endif %}">»</a>
      {% else %}
        <span class="disabled">»</span>
      {% endif %}
    </span>
  </div>
</div>

{% endblock content %}