.cart_container {
  max-width: 1080px;
  background-color: #EDF1F4;
  margin: auto;
}


.cart_list_header, .cart_list_content, .cart_product, .cart_quantity_col {
  display: flex;
}

.cart_list_header .cart_product, 
/* .cart_list_header .cart_quantity_col,  */
/* .cart_list_header .cart_subtotal, */
.cart_checkbox_col,
.cart_quantity_col,
.cart_subtotal {
  justify-content: center;
  display: flex;
  align-items: center;
}

.cart_checkbox_col {
  min-width: 30px;
}

.cart_list_content {
  margin: 30px 0;
}

.cart_product {
  flex-grow: 1;
}


/* img container */
.cart_img_container {
  width: 100px;
  height: 100px;
  min-width: 100px;
  flex-shrink: 1;
}
.cart_img_container > img {
  max-width: 100%;
  object-fit: cover;
}


.cart_list_product_text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cart_list_price {
  margin-block-start: auto;
}

.cart_quantity_col, .cart_subtotal {
  min-width: 155px;
}

.cart_quantity_container {
  display: flex;
}

.cart_quantity_container {
  border: 3px solid #000000
}