.index-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.index-title-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}

.index-title-text {
  text-align: center;
  margin-bottom: 10px;
}

.p-wrapper {
  max-width: 1080px;
  padding: 2rem;
  background-color: var(--block-bg);
  border: 1px solid var(--j-color3);
  border-radius: 7px;
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-table {
  width: 100%;
  table-layout: fixed;
}
.p-tr {
  background-color: var(--block-bg);
}
.p-tr th {
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--j-sub-line);
  border-top: 1px solid var(--j-sub-line);
}

.p-td {
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--j-sub-line);
}

.p-td-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
.p-td-title:hover {
  color: #297821;
}
.p-center {
  text-align: center;
}

.p-write-wrapper {
  display: flex;
  justify-content: flex-end;
}
.p-write {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #297821;
  font-size: 16px;
  color: #297821;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.p-write:hover {
  background-color: #297821;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.pagination .step-links {
  display: flex;
  align-items: center;
}

.pagination .step-links a,
.pagination .step-links span {
  display: inline-block;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  color: var(--j-sub-text);
  border: 1px solid transparent;
  border-radius: 5px;
  width: 25px;
  height: 30px;
}

.pagination .step-links a:hover {
  color: #fff;
  background-color: green;
}

.pagination .step-links .current-page {
  color: #fff;
  background-color: green;
  pointer-events: none;
}

.pagination .step-links .disabled {
  color: #999;
  pointer-events: none;
}

.m-size {
  margin-top: 0.3rem;
  display: none;
}

.m-name {
  font-size: 12px;
}

.m-date {
  font-size: 10px;
  color: #3f4d67;
}
@media (max-width: 1079.9px) {
  .index-title-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .index-title-text {
    font-size: 15px;
  }
}

@media (max-width: 768.9px) {
  colgroup, thead {
    display: none;
  }

  .p-center {
    display: none;
  }

  .p-td {
    width: 100%;
  }
  .m-size {
    display: block;
  }
  .index-title-wrap {
    height: 250px;
  }
  .index-title-title {
    font-size: 40px;
  }
  .index-title-text {
    font-size: 15px;
  }
  .p-wrapper {
    padding: 1rem;
  }
}