.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.title-box-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}

.title-box-text {
  text-align: center;
  margin-bottom: 10px;
}

.main-link-wrap {
  padding: 30px 0px;
}
.main-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

.main-box {
  width: 50%;
  background-color: #fafafa;
  aspect-ratio: 1/1;
  display: inline-flex;
}

.main-box-image {
  width: 100%;
  object-fit: cover;
}

.main-box-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 9%;
  justify-content: center;
  background-color: var(--background-color);
}

.main-button {
  margin-top: 0.5rem;
  width: 200px;
  height: 50px;
  border: 1px solid #00a95c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #00a95c;
}

.main-button:hover {
  background-color: #00a95c;
  color: white;
}

.main-button_title {
  font-size: 50px;
  color: #969696;
}

.main-button_text {
  margin-top: 0.5rem;
  font-size: 18px;
  line-height: 1.4;
  color: #969696;
}
/* 미디어쿼리 pc */
@media (min-width: 1280px) {

}
@media (max-width: 1079.9px) {
  .title-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .title-box-text {
    font-size: 15px;
  }
  .main-box {
    width: 100%;
  }
  .main-wrap {
    flex-direction: column;
  }
  .main-button_title {
    font-size: 30px;
  }
  .main-button {
    width: 136px;
    height: 34px;
    margin-top: 1.5rem;
  }
  .main-button_text {
    font-size: 14px;
    line-height: 1.4;
  }
  .m-reverse .main-wrap {
    flex-flow: column-reverse;
  }
}

@media (max-width: 768.9px) {
  .title-wrap {
    height: 250px;
  }

  .title-box-title {
    font-size: 40px;
  }
  
  .title-box-text {
    font-size: 15px;
  }
}