.my-message {
  text-align: right;
}

.other-message {
  text-align: left;
}

.room {
  height: 100%;
}

.chat-room {
  overflow-y: scroll;
  height: 50vh;
}

.sender-image {
  width: 30px;
  height: 30px;
}