article {
  padding-top: 80px;
}

.message {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.other-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.room_name {
  margin-bottom: 2rem;
  color: var(--planet-color4);
  font-size: large;
  font-weight: 600;
}

.sender {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.sender-image {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  margin-right: 0.2rem;
}

.time-stamp {
  font-size: x-small;
  color: var(--planet-color6);
}


@media (min-width: 1080px) {


  .chat-room {
    width: 800px;
    overflow-y: scroll;
    height: 50vh;
    border: 2px solid var(--planet-color3);
    border-radius: 5px;
    padding: 10px;
  }

  .chat-room::-webkit-scrollbar {
    width: 10px;
  }

  .message-content_me {
    max-width: 200px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  
  .message-content {
    max-width: 200px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }

  .text-form {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #message_input {
    width: 500px;
    border: 1px solid var(--planet-color3);
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
  }
  
  .message-btn {
    width: 100px;
    background-color: var(--planet-color1);
    border: 1px solid var(--planet-color3);
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
  }

}

@media (max-width: 1079.9px) {


  .chat-room {
    width: 70%;
    overflow-y: scroll;
    height: 50vh;
    border: 1px solid var(--planet-color3);
    border-radius: 5px;
    padding: 10px;
  }

  .chat-room::-webkit-scrollbar {
    width: 5px;
  }

  .message-content_me {
    max-width: 100px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  
  .message-content {
    max-width: 100px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }

  .text-form {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #message_input {
    width: 70%;
    border: 1px solid var(--planet-color3);
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
  }
  
  .message-btn {
    width: 20%;
    background-color: var(--planet-color1);
    border: 1px solid var(--planet-color3);
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
  }
}

.chat-room::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--planet-color3);
  border-radius: 5px;
}

.chat-room::-webkit-scrollbar-track {
  background-color: rgba(139, 190, 134, 0.1);
}

#message_input:focus {
  outline: 2px solid var(--planet-color3);
}

.message-btn:hover {
  background-color: var(--planet-color3);
  color: var(--planet-color1);
}
