@font-face {
	font-family: 'SUITE-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'SUITE-Regular',sans-serif;
	line-height: 1;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* a {
	text-decoration: none;
	color: black;
} */

/* * {
	background-color: #fff;
} */




/* :root, */
:root {
  --j-green: #00A95C; /* 그냥 녹색 */
	--j-dark-green: #297821; /* 다크 그린 */
  --j-red: red;
  --j-white: white; /* block 안에 흰글씨*/
  --j-gray: #dddddd;
  --j-dark-gray: #444444;
  --j-middle-gray: #888888;

	--planet-color1: #EDF1F4;
	--planet-color2: #ADCBC9;
	--planet-color3: #8BBE86;
	--planet-color4: #363636;
	--planet-color5: rgb(201, 123, 123);
	--planet-color6: rgba(163, 158, 158, 0.829);

	--filter-orange: invert(68%) sepia(13%) saturate(4463%) hue-rotate(359deg) brightness(101%) contrast(103%); /* orange */
	--filter-white: invert(100%) sepia(3%) saturate(512%) hue-rotate(192deg) brightness(115%) contrast(91%); /* # f3f3f3 white */
}

/* * {
	transition: background-color 0.25s, color 0.25s;
} */
a {
	text-decoration: none;
	color: var(--text-color);
}
input {
	background-color: var(--background-color);
	color: var(--text-color);
}

/* :root {
	--planet-color1: #EDF1F4;
	--planet-color2: #ADCBC9;
	--planet-color3: #8BBE86;
	--planet-color4: #363636;
	--planet-color5: rgb(201, 123, 123);
	--j-color1: #00A95C; 테마 녹색
	--j-color2: #297821;
	--j-green: #00A95C; 그냥 녹색
	--j-red: red;
} */

.white-text{
	color: white;
}

#wrapper-body {
  position: relative;
  height: auto;
  min-height: 100vh;
}

input, button, textarea {
	font-family: 'SUITE-Regular',sans-serif;
}

.required_star {
  margin-left: 0.3em;
  color: var(--j-required_star);
}

.j-btn {
  padding: 0.5rem 1rem;
  border: 1px solid #00A95C;
  font-size: 13px;
  color: #fff;
  background-color: #00A95C;
  cursor: pointer;
  border-radius: 5px;
}
.j-btn:hover {
  background-color: #297821;
	border-color: #297821;
}

.j-btn-outline {
  padding: 0.5rem 1rem;
  border: 1px solid #00A95C;
  font-size: 13px;
  color: #00A95C;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}
.j-btn-outline:hover {
  color: #fff;
  background-color: #00A95C;
}
#scrollBtn {
  display: none;
  position: fixed; 
  bottom: 20px;
  right: 65px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: #00a95c;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 14px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
	justify-content: center;
	height: 40px;
	width: 40px;
	align-items: center;
	flex-direction: column;
	line-height: 1.3;
}

#scrollBtn:hover {
  opacity: 1;
}

#set_btn {
  position: fixed; 
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: #00a95c;
  /* color: white; */
  cursor: pointer;
  padding: 18px 15px 15px;
  border-radius: 50%;
  font-size: 14px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
	justify-content: center;
	height: 40px;
	width: 40px;
	align-items: center;
	flex-direction: column;
	line-height: 1.3;
}
#set_btn:hover {
	opacity: 1;
}
#set_btn img {
	filter: var(--filter-white);
}

.theme_btn_box {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: var(--background-color);
  /* background-color: transparent; */
	padding: 15px;
  z-index: 100;
  border: 1px solid var(--j-color3);
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,.3);
}
.theme_hidden {
  display: none;
}

.theme-btn {
  /* margin-top: 10px; */
	margin: 0 5px;
  background: inherit;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
  font-size: 14px;
  color: var(--text-color);
}

.theme_icon {
  filter: var(--filter-base);
}
.theme_icon:hover {
  filter: var(--filter-orange);
}

.theme_icon_active {
  filter: var(--filter-orange)
}


@media (max-width: 1079.9px) {
	#scrollBtn {
		height: 40px;
		width: 40px;
		font-size: 12px;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: var(--text-color) !important;
	box-shadow: 0 0 0 30px var(--background-color) inset !important;
	/* -webkit-box-shadow: 0 0 0 30px violet inset !important;
	background-color: violet !important;
	color: violet !important; */
}
select {
	background-color: var(--background-color);
	color: var(--text-color);
	border: 1px solid #00000033;
}
input.form-control:focus {
  border:1px solid #297821;
  outline: none;
}
textarea {
	background-color: var(--background-color);
	color: var(--text-color)
}
textarea.form-control:focus {
  border:1px solid #297821;
  outline: none;
}
input {
	border: 1px solid #00000033;
}
input::file-selector-button {
  color: var(--text-color);
  height: 33px;
  padding: 0 10px;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  border-right: 1px solid #00000033;
}