.footer {
  position: relative;
  background-color: #363636;
  width: 100%;
  height: 250px;
  text-align: center;
  z-index: 99;
  color: white;
  padding: 40px 0px 40px;
}

.footer-text {
  margin-top: 20px;
}

.footer-text a {
  color: white;
  margin-top: 20px;
}

.footer-logo {
  font-size: 25px;
  margin-top: 20px;
}