.swiper {
  max-height: 830px;
}

.main-image {
  width: 100%;
  aspect-ratio: 5184 / 3456;
}

.swiper-slide {
  position: relative;
}

.main-inner {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 16rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.main-title {
  font-size: 6rem;
  margin: 3rem 0;
  color: white;
  font-weight: 600;
}

.main-content {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.swipper-inner {
  position: absolute;
  top: 0;
  margin-left: 6rem;
  color: white;
  margin-top: 20rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.swipper-title {
  font-size: 10rem;
  color: white;
  font-weight: 600;
}

.swipper-content {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
}

.swiper-button-next, .swiper-button-prev {
  color: #ffffff;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.main-link-wrap {
  padding: 30px 0px;
}
.main-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

.main-box {
  width: 50%;
  background-color: var(--block-bg);
  aspect-ratio: 1/1;
  display: inline-flex;
}

.main-box-image {
  width: 100%;
  object-fit: cover;
}

.main-box-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 9%;
  justify-content: center;
}

.main-button {
  margin-top: 0.5rem;
  width: 200px;
  height: 50px;
  border: 1px solid var(--j-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--j-color1);
}

.main-button:hover {
  background-color: var(--j-color1);
  color: white;
}

.main-button_title {
  font-size: 50px;
  color: #969696;
  font-weight: 500;
}

.main-button_text {
  margin-top: 0.5rem;
  font-size: 18px;
  line-height: 1.4;
  color: #969696;
}

.main-product {
  padding-top: 3rem;
  padding-bottom: 1rem;
  justify-content: center;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

.product-inner {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 1rem;
  width: 33%;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* 지구행 */
.content-wrapper {
  margin: 5rem 0;
}

.content-inner {
  flex-direction: column;
  text-align: center;
  font-size: 24px;  
}

.content-text {
  margin-bottom: 1rem;
}

.content-image {
  max-width: 100%;
}

.text-color {
  color:green;
  font-weight: 600;
}
/* 상품 hover */

.hover-box {
  position: relative;
}

.hover-content {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-store {
  color: #00a95c;
}

.hover-store::after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  margin: 1.5rem auto;
  background: #6d6d6d;
}

.hover-name {
  font-size: 27px;
  margin-bottom: 1.5rem;
}


.a-hover:hover .hover-content {
  display: flex;
  background: rgba(0,0,0,0.7);
  color: var(--j-text-white);
}
/* 상품 hover end */


.product-name {
  font-size: 18px;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hover-button {
  margin-top:1.5rem;
  width: 130px;
  height: 40px;
  border: 1px solid var(--j-green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--j-green);
  background-color: transparent;
}

.hover-button:hover {
  background-color: var(--j-green);
  color: white;
}

.item-box {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.product-title {
  padding-left: 1rem;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
}
/* 미디어쿼리 pc */
@media (min-width: 1280px) {

}
/* 태블릿 */
@media (min-width: 768px) and (max-width: 1279.9px) {
  .main-inner {
    margin-top: 11rem;
  }

  .main-title {
    font-size: 4rem;
    margin: 2rem 0;
  }

  .main-content {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  .swipper-inner {
    margin-top: 14rem;
  }

  .swipper-title {
    font-size: 7rem;
  }
  
  .swipper-content {
    font-size: 1.8rem;
  }

  .main-button_title {
    font-size: 30px;
  }

  .main-button_text {
    font-size: 14px;
    line-height: 1.4;
  }

  .product-name {
    font-size: 14px;
  }

  .product-price {
    font-size: 14px;
  }

}
/* 모바일 */

@media (max-width: 767.9px) {
  .main-box {
    width: 100%;
  }

  .main-wrap {
    flex-direction: column;
  }

  .main-button_title {
    font-size: 30px;
  }

  .main-button {
    width: 136px;
    height: 34px;
    margin-top: 1.5rem;
  }

  .main-button_text {
    font-size: 14px;
    line-height: 1.4;
  }

  .m-reverse .main-wrap {
    flex-flow: column-reverse;
  }

  .main-inner {
    margin-top: 5rem;
  }

  .main-title {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .main-content {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .item {
    padding: 0.8rem;
    width: 100%;
  }

  .swipper-inner {
    margin-top: 6rem;
  }

  .swipper-title {
    font-size: 3rem;
  }
  
  .swipper-content {
    font-size: 1rem;
  }

  .content-text {
  margin-bottom: 1rem;
  font-size: 12px;
}
}