.main-image {
  width: 100%;
  aspect-ratio: 5184 / 3456;
}

.carousel-item {
  max-height: 100vh ;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 5px;
}

.main-product {
  position: relative;
  color: black;
  height: 600px;
}

.main-product::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #EDF1F4;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main-link-wrap {
  padding: 30px 0px;
}
.main-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

.main-box {
  width: 50%;
  background-color: #fafafa;
  aspect-ratio: 1/1;
  display: inline-flex;
}

.main-box-image {
  width: 100%;
  object-fit: cover;
}

.main-box-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 9%;
  justify-content: center;
}

.main-button {
  margin-top: 0.5rem;
  width: 200px;
  height: 50px;
  border: 1px solid #00a95c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #00a95c;
}

.main-button:hover {
  background-color: #00a95c;
  color: white;
}

.main-button_title {
  font-size: 50px;
  color: #969696;
}

.main-button_text {
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 1.4;
  color: #969696;
}
/* 미디어쿼리 pc */
@media (min-width: 1280px) {

}
/* 태블릿 */
@media (min-width: 768px) and (max-width: 1279.9px) {

}
/* 모바일 */

@media (max-width: 767.9px) {
  .main-box {
    width: 100%;
  }
  .main-wrap {
    flex-direction: column;
  }
  .main-button_title {
    font-size: 30px;
  }
  .main-button {
    width: 136px;
    height: 34px;
    margin-top: 1.5rem;
  }
  .main-button_text {
    font-size: 14px;
    line-height: 1.4;
  }
  .m-reverse .main-wrap {
    flex-flow: column-reverse;
  }
}