.terms-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.terms-title-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}

.t-wrapper {
  max-width: 1300px;
  padding: 1rem;
  background-color: var(--background-color);
  border: 1px solid var(--j-colors3);
  border-radius: 7px;
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-bottom: 2rem;
}

.t-inner {
  font-size: 16px;
  line-height: 1.5;
}

p {
  line-height: 1.5;
}