:root,
[data-bs-theme=dark] {
	/* --background-color: #1E1E20; */
	background-color: #222222;
	--background-color: #222222;
	color: #adb5bd;
	--text-color: #adb5bd;

	--block-bg: #272829;

	--bg-color1: #000;
	--text-color1: #fff;
  
	--j-color1: #297821; /* 테마 녹색 */
	--j-color2: #00A95C;
	--j-color3: #444444;
	--j-color4: #dddddd;
	--j-text-white: #dddddd; /* 그냥 흰글씨*/
  --j-required_star: #ea868f;
}