@media (prefers-color-scheme: light) {
	:root {
		background-color: #fff;
		--background-color: #fff;
		color: #212529;
		--text-color: #212529;
		--j-sub-text: #666666;

		--j-sub-line: #0000000f;

		--block-bg: #fafafa;

		--j-color1: #00A95C; /* 테마 녹색 */
		--j-color2: #297821;
		--j-color3: #dddddd;
		--j-color4: #444444;
		--j-text-white: white; /* 그냥 흰글씨*/
		--j-btn-fill: #00A95C; /* 다크모드 버튼 */
		--j-required_star: #ca0114;
		--card-profile: #f1f1f1; /* 프로필 정보 카드 */

		--filter-base: invert(0%) sepia(100%) saturate(0%) hue-rotate(348deg) brightness(97%) contrast(103%); /* black */
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		background-color: #222222;
		--background-color: #222222;
		color: #f3f3f3;
		--text-color: #f3f3f3;
		--j-sub-text: #aaaaaa;

		--j-sub-line: #ffffff0f;

		--block-bg: #272829;

		--j-color1: #297821; /* 테마 녹색 */
		--j-color2: #00A95C;
		--j-color3: #444444;
		--j-color4: #dddddd;
		--j-text-white: #dddddd; /* 그냥 흰글씨*/
		--j-btn-fill: #125d3b; /* 다크모드 버튼 */
		--j-required_star: #ea868f;
		--card-profile: #303030; /* 프로필 정보 카드 */

		--filter-base: invert(100%) sepia(3%) saturate(512%) hue-rotate(192deg) brightness(115%) contrast(91%); /* # f3f3f3 white */
	}
}