:root,
[data-bs-theme=light] {
	background-color: #fff;
	--background-color: #fff;
	color: #212529;
	--text-color: #212529;

	--block-bg: #fafafa;
	
	--bg-color1: #fff;
	--text-color1: #000;
	--planet-color1: #EDF1F4;
	--planet-color2: #ADCBC9;
	--planet-color3: #8BBE86;
	--planet-color4: #363636;
	--planet-color5: rgb(201, 123, 123);
	--planet-color6: rgba(163, 158, 158, 0.829);

	--j-color1: #00A95C; /* 테마 녹색 */
	--j-color2: #297821;
	--j-color3: #dddddd;
	--j-color4: #444444;
	--j-text-white: white;

	--j-green: #00A95C; /* 그냥 녹색 */
	--j-red: red;
	--j-white: white;
}