{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/account.css' %}">
{% endblock head %}

{% block content %}

<div class="password-wrapper">
  <div class="password-page">
    <div class="password-page-title">
      <h1>PASSWORD CHANGE</h1>
    </div>
    <form class="password-page-form" action="{% url 'accounts:change_password' %}" id="PasswordChangeForm" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{ field }}
      {% endfor %} 
      <button type="submit">비밀번호 변경</button>
    </form>
  </div>
</div>

{% endblock content %}