
{% load static %}

<ul id="follower-ul">
  {% for follower in followers %}
  <li class="follow--modal">
    <a href="{% url 'accounts:profile' follower.username %}">
      {% if follower.image %}
        <div class="profile--image">
          <img src="{{ follower.image.url }}" alt="follower image" class="profile">
        </div>
      {% else %}
        <div class="profile--image">
          <img src="{% static 'img/accounts/no-image-icon-21.png' %}" alt="follower image" class="profile">
        </div>
      {% endif %}
      {{ follower.username }}
    </a>
  </li>
  {% empty %}
  <p class="ms-2">팔로워가 없습니다.</p>
  {% endfor %}
</ul>
