
{% load static %}

<ul id="following-ul">
  {% for following in followings %}
  <li class="follow--modal">
    <a href="{% url 'accounts:profile' following.username %}">
      {% if following.image %}
        <div class="profile--image">
          <img src="{{ following.image.url }}" alt="following image" class="profile">
        </div>
      {% else %}
        <div class="profile--image">
          <img src="{% static 'img/accounts/no-image-icon-21.png' %}" alt="following image" class="profile">
        </div>
      {% endif %}
      {{ following.username }}
    </a>
  </li>
  {% empty %}
  <p class="ms-2">팔로잉이 없습니다.</p>
  {% endfor %}
</ul>
