{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/interest.css' %}">
{% endblock head %}
<div class="interest-page">
  <header>
    <h2>관심상품 목록</h2>
  </header>
    <table class="interest-page-content">
     <thead>
        <tr>
          <th scope="col" class="header-product">상품정보</th>
          <th scope="col" class="header-price">가격</th>
          <th scope="col" class="header-store">상점명</th>
          <th scope="col"><span class=""></span></th> 
        </tr>
      </thead>  
      {% if request.user == person %}
        <tbody class="interest-page-content-main">
          {% for interest_item in interests %}
          <tr class="interest_items">
            <td class="main-items-detail">
              <div>
                <a href="{% url 'stores:products_detail' interest_item.store.pk interest_item.pk %}">
                  {% if interest_item.images %}
                    <img src="{{ interest_item.images.first.image.url }}" alt="관심상품 이미지">
                  {% else %}
                    <img src="{% static 'img/accounts/no-image.png' %}" alt="기본이미지">
                  {% endif %}
                </a>
              </div>
              <div>
                <p class="main-items-product">{{ interest_item.name }}</p>
              </div>
            </td>
            <td class="main-items-price">
              <p>판매가</p>{{ interest_item.price|intcomma }}원
            </td>
            <td class="main-items-store">
              <p>상점</p>{{ interest_item.store.name }}
            </td>
            <td class="delete-btn">
              <form id="product_likes_form" data-product-id="{{ interest_item.pk }}" data-store-id="{{ interest_item.store.pk }}">
                {% csrf_token %}
                {% comment %} <input class="sub-button" type="submit" value="삭제"> {% endcomment %}
                <button class="sub-button" type="submit" value="삭제">
                  <span class="material-symbols-outlined">delete</span>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
</div>

{% block script %}
<script src="{% static 'js/accounts/interest.js' %}"></script>
{% endblock script %}
