{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/find_account.css' %}">
{% endblock head %}

{% block content %}
<div class="find_pw-wrapper">
  <div class="find_pw-page">
    <h1>비밀번호 재설정 요청</h1>
    <div class="find_pw-page-form">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">비밀번호 재설정 이메일 요청</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}