{% extends 'base.html' %}
{% load static %}

{% block title %}
  MYPAGE
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
{% endblock head %}

{% block content %}
<div class="profile-wrapper">
  {% comment %} 사이드바 {% endcomment %}
  <div class="profile-sidebar">
    <a class="{% if not q %} {% else %} pass {% endif %}" href="{% url 'accounts:profile' person.username %}">
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">settings</span>
        <p>회원정보</p>
      </div>
    </a>
    <a class="{% if q == 'post' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=post">
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">notes</span>
        <p>작성글</p>
      </div>
    </a>
    <a class="{% if q == 'interest' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=interest">            
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">thumb_up</span>
        <p>관심상품</p>
      </div>
    </a>
    <a class="{% if q == 'purchase_detail' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=purchase_detail">           
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">shopping_bag</span>
        <p>구매내역</p> 
      </div>
    </a>
    <a class="{% if q == 'second_detail' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=second_detail">            
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">recycling</span>
        <p>중고거래내역</p>
      </div>
    </a>
    <a class="{% if q == 'chat_rooms' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=chat_rooms">            
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">forum</span>
        <p>채팅</p>
      </div>
    </a>
  </div>

  {% comment %} 반응형 사이드바 {% endcomment %}
  <div class="profile-navbar">
    <a class="{% if not q %} {% else %} pass {% endif %}" href="{% url 'accounts:profile' person.username %}">
      <div class="profile-navbar-item">
        <p>회원정보</p>
      </div>
    </a>
    <a class="{% if q == 'post' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=post">
      <div class="profile-navbar-item">
        <p>작성글</p>
      </div>
    </a>
    <a class="{% if q == 'interest' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=interest">            
      <div class="profile-navbar-item">
        <p>관심상품</p>
      </div>
    </a>
    <a class="{% if q == 'purchase_detail' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=purchase_detail">           
      <div class="profile-navbar-item">
        <p>구매내역</p> 
      </div>
    </a>
    <a class="{% if q == 'second_detail' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=second_detail">            
      <div class="profile-navbar-item">
        <p>중고거래내역</p>
      </div>
    </a>
    <a class="{% if q == 'chat_rooms' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=chat_rooms">            
      <div class="profile-navbar-item">
        <p>채팅</p>
      </div>
    </a>
  </div>

  {% comment %} 페이지 {% endcomment %}
  <div class="profile-page">
    {% if q == 'post' %}
      {% include 'accounts/post.html' %}
    {% elif q == 'interest' %}
      {% include 'accounts/interest.html' %}
    {% elif q == 'purchase_detail' %}
      {% include 'accounts/purchase_detail.html' %}
    {% elif q == 'second_detail' %}
      {% include 'accounts/second_detail.html' %}
    {% elif q == 'chat_rooms' %}
      {% include 'accounts/chat.html' %}
    {% elif not q %}
      <div class="profile-page-info">
        <div class="profile-page-info-header">
          <div class="header-info">
            <div class="header-img">
              {% if request.user.image %}
              <img src="{{ request.user.image.url }}" alt="{{ user.username }}'s Profile Image">
            {% else %}
              <img src="#" alt="noimage">
            {% endif %}
          </div>
          <div class="header-text">
            <div class="header-text-name">
              <h2>{{ user.last_name }} 님</h2>
              <a href="#">
                <span class="material-symbols-outlined">forum</span>
              </a>
            </div>
            {% if user.is_seller == False %}
              <p class="not_seller">일반회원</p>
            {% else %}
              <p class="seller">판매자</p>
              {% endif %}
            </div>
          </div>
          <div class="header-update">
            <a href="{% url 'accounts:update' %}">회원정보수정</a>
            <a href="{% url 'accounts:change_password' %}">비밀번호변경</a>
          </div>
        </div>
        <div class="profile-page-info-main">
          <div class="main-card">
              <span class="main-card-title">나의 에코포인트🌱</span></span>
              <div class="main-card-content">
                <span>{{ user.points }}</span>
              </div>
          </div>
          <div class="main-card">
            <span class="main-card-title">나의 친구관리🧸</span>
            <div class="main-card-content">
              <span>팔로워 : </span>
              <span>팔로잉 : </span>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
  </div>
</div>

{% endblock content %}

{% comment %} 위에 있던 항목들을 왼쪽 사이드바로 만들기 / 반응형 할 때 밑으로 내리기 {% endcomment %}
{% comment %} 사이드바에 채팅도 추가하기 {% endcomment %}