{% extends 'base.html' %}
{% load static %}

{% block title %}
  MYPAGE
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> {% endcomment %}
{% endblock head %}

{% block content %}
<div class="profile-wrapper">
  {% comment %} 사이드바 {% endcomment %}
  <div class="profile-sidebar">
    <a class="{% if not q %} {% else %} pass {% endif %}" href="{% url 'accounts:profile' person.username %}">
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">settings</span>
        <p>회원정보</p>
      </div>
    </a>
    <a class="{% if q == 'post' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=post">
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">notes</span>
        <p>작성글</p>
      </div>
    </a>
    <a class="{% if q == 'interest' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=interest">            
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">thumb_up</span>
        <p>관심상품</p>
      </div>
    </a>
    <a class="{% if q == 'purchase_detail' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=purchase_detail">           
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">shopping_bag</span>
        <p>구매내역</p> 
      </div>
    </a>
    <a class="{% if q == 'second_detail' %} {% endif %}" href="{% url 'accounts:profile' person.username %}?q=second_detail">            
      <div class="profile-sidebar-item">
        <span class="material-symbols-outlined">recycling</span>
        <p>중고거래내역</p>
      </div>
    </a>
  </div>

  {% comment %} 페이지 {% endcomment %}
  <div class="profile-page">
    {% if q == 'post' %}
      {% include 'accounts/post.html' %}
    {% elif q == 'interest' %}
      {% include 'accounts/interest.html' %}
    {% elif q == 'purchase_detail' %}
      {% include 'accounts/purchase_detail.html' %}
    {% elif q == 'second_detail' %}
      {% include 'accounts/second_detail.html' %}
    {% elif not q %}
      <div class="profile-page-info">
        <div class="profile-page-info-header">
            <div class="header-img">
              {% if person.image %}
                <img src="{{ person.image.url }}" alt="{{ person.username }}'s Profile Image">
              {% else %}
                <img src="#" alt="noimage">
              {% endif %}
            </div>
            <div class="header-text">
              <h2>{{ person.username }} 님</h2>
              {% if user.is_seller == False %}
                <p class="not_seller">일반회원</p>
              {% else %}
                <p class="seller">판매자</p>
              {% endif %}
            </div>
            <a href="{% url 'accounts:update' %}">회원정보수정</a> 
            <a href="{% url 'accounts:change_password' %}">비밀번호변경</a>
        </div>
        <div class="profile-box-text">
        <div class="profile-page-info-main">
          <div class="main-card">
              <span class="main-card-title">나의 에코포인트</span>
              <span class="material-symbols-outlined">eco</span>
              <div class="main-card-content">
                <span>{{ user.points }}</span>
              </div>
          </div>
          <div class="main-card">
            <span class="main-card-title">나의 친구관리</span>
            <div class="main-card-content">
              
              {% comment %} 팔로잉테스트 {% endcomment %}
              <div class="d-flex gap-3">
                <p>팔로잉 :<button type="button" class="profile--card--btn" data-bs-toggle="modal" data-bs-target="#followingsModal"><p id="followings-count">{{ person.followings.all|length }}</p></button></p>
                <p>팔로워 :<button type="button" class="profile--card--btn" data-bs-toggle="modal" data-bs-target="#followersModal"><p id="followers-count">{{ person.followers.all|length }}</p></button></p>
              </div>
              {% if request.user != person %}
                <form id="follow-form" data-user-id="{{ person.pk }}" data-username="{{ person.username }}" action="{% url 'accounts:follow' person.pk %}" method="post">
                  {% csrf_token %} 
                    {% if request.user in person.followers.all %}
                      <input class="profile--followbtn" type="submit" value="Unfollow">
                    {% else %}
                      {% if request.user.is_authenticated %}
                        <input class="profile--followbtn" type="submit" value="Follow">
                      {% else %}
                        <input class="profile--followbtn" type="submit" value="Follow" disabled>
                      {% endif %}
                    {% endif %}
                </form>
              {% endif %}
          {% comment %}모달창 {% endcomment %}
          
<!-- 팔로워 Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content profile--modal--box">
      <div class="modal-header">
        <h1 class="modal-title fs-5"  id="followersModalLabel">팔로워</h1>
      </div>
      <div class="modal-body row" id = "f_follower_list">
        {% if request.user != person %}
          <div id="follower-list">
            <ul id="follower-ul"></ul>
          </div>
        {% else %}
          <ul id="follower-ul">
            {% for follower in person.followers.all %}
            <li class="follow--modal">
                <a href="{% url 'accounts:profile' follower.username %}">
                  {% if follower.image %}
                    <div class="profile--image rounded-circle">
                      <img src="{{ follower.image.url }}" alt="follower image" class="object-fit-fill profile">
                    </div>
                  {% else %}
                    <div class="profile--image rounded-circle">
                      <img src="{% static 'image/profile-none.png' %}" alt="follower image" class="object-fit-fill profile">
                    </div>
                  {% endif %}
                  <span>{{ follower.username }}</span>
                </a>
            </li>
            {% empty %}
            <p class="ms-2">팔로워가 없습니다.</p>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 팔로잉 Modal -->
<div class="modal fade" id="followingsModal" tabindex="-1" aria-labelledby="followingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content profile--modal--box">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="followingsModalLabel">팔로잉</h1>
      </div>
      <div class="modal-body row">
        {% if request.user != person %}
          <div id="following-list">
            <ul id="following-ul"></ul>
          </div>
        {% else %}
          <ul id="following-ul">
            {% for following in person.followings.all %}
            <li class="follow--modal">
                <a href="{% url 'accounts:profile' following.username %}">
                  {% if following.image %}
                    <div class="profile--image rounded-circle">
                      <img src="{{ following.image.url }}" alt="following image" class="object-fit-fill profile">
                    </div>
                  {% else %}
                    <div class="profile--image rounded-circle">
                      <img src="{% static 'image/profile-none.png' %}" alt="following image" class="object-fit-fill profile">
                    </div>
                  {% endif %}
                  <span>{{ following.username }}</span>
                </a>
            </li>
            {% empty %}
            <p class="ms-2">팔로잉이 없습니다.</p>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



            </div>
          </div>
          <div class="main-card">
            3번
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script src="{% static '/js/accounts_follow.js' %}" type="text/javascript"></script>
{% endblock content %}

{% comment %} 위에 있던 항목들을 왼쪽 사이드바로 만들기 / 반응형 할 때 밑으로 내리기 {% endcomment %}
{% comment %} 사이드바에 채팅도 추가하기 {% endcomment %}