{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/purchase_detail.css' %}">
{% endblock head %}
<div class="purchase-page">
  <header>
    <h2>구매상품 목록</h2>
  </header>

  <table class="purchase-page-content">
    <thead>
      <tr>
        <th scope="col" class="header-num">주문번호</th>
        <th scope="col" class="header-day">주문날짜</th>
        <th scope="col" class="header-product">상품명</th>
        <th scope="col" class="header-total">주문 총 금액</th>
      </tr>
    </thead> 

    <tbody class="purchase-page-content-main">
      {% for purchase in purchase_details %}
      <tr>
        <td class="purchase-page-id">{{ purchase.order.pk }}</td>
        <td class="purchase-page-day">{{ purchase.order.added_at }}</td>
        {% for item in purchase.items %}
          {% if forloop.first %}
            <td class="purchase-page-product">{{ item.product.name }}...</td>
          {% endif %}
        {% endfor %}
        <td class="purchase-page-price">{{ purchase.order.total|intcomma }}원</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


  {% comment %} {% for purchase in purchase_details %}
      <h3>주문 번호: {{ purchase.order.pk }}</h3>
      <p>주문 날짜: {{ purchase.order.added_at }}</p>  
      <p>판매자: {{ purchase.order.seller.username }}</p>
      <p>배송 주소: {{ purchase.order.address }}</p>
      <p>배송 상태: {{ purchase.order.shipping_status }}</p>

    {% if purchase.order.tracking_number %}
      <p>운송장 번호: {{ purchase.order.tracking_number }}</p>
    {% else %}
      <p>운송장 번호 그런거 없다.</p>
    {% endif %} 
    
    {% for item in purchase.items %}
      <p>상품명 {{ item.product.name }}</p>
      <p>수량 {{ item.quantity }}</p>
      <p>가격 {{ item.product.price }}</p>
      <p>합계{{ item.sub_total }}</p>
    {% endfor %}  
      <p>주문 총 금액: {{ purchase.order.total|intcomma }}</p>
    {% endfor %}   {% endcomment %}
