{% if purchases %}
    <table>
        <thead>
            <tr>
                <th>상품명</th>
                <th>카테고리</th>
                <th>가격</th>
                <th>수량</th>
                <th>총금액</th>
                <th>거래일</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.product.product }}</td>
                <td>{{ purchase.product.get_category_display }}</td>
                <td>{{ purchase.product.price }}</td>
                <td>{{ purchase.quantity }}</td>
                <td>{{ purchase.amount }}</td>
                <td>{{ purchase.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>중고거래 내역이 없습니다.</p>
    
{% endif %}