{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/second_detail.css' %}">
{% endblock head %}

<div class="completed-page">
  <div class="completed-page-title">
    <h2>중고거래 완료 목록</h2>
  </div>
  
  {% if request.user == person %}
    {% if completed_products %}
      <div class="card-grid">
        {% for product in completed_products %}
          <a href="{% url 'secondhands:detail' product.pk %}">
            <div class="card">
              <div class="card-img">
                {% for image in product.s_productimage_set.all %}
                  <img src="{{ image.image.url }}" alt="이미지"/>
                  {% empty %}
                    <p>이미지가 없습니다.</p>
                  {% endfor %}
                </div>
                <div class="card-info">
                  <p class="card-info-product">{{ product.product }}</p>
                  <p class="card-info-price">{{ product.price|intcomma }}원</p>
                  <p class="card-info-label">거래장소</p>
                  <p class="card-info-address">{{ product.address }}</p>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>중고거래 내역이 없습니다.</p>
    {% endif %}
  {% endif %}
</div>