/* 로그인 */
.login-wrapper {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 101px);
	/* height: 100%; */
	background: url(../../img/base/login_image.jpg) no-repeat;
	background-color: white;
	/* background-size: 100%; */
	background-size: cover;
	background-position: center;
}
.login-page {
	width: 400px;
  padding-top: 15%;
  z-index: 1;
  position: relative;
  margin: 0 auto;
	text-align : center;
}
.login-page-title h1 {
	font-weight: bold;
	padding-bottom: 20px;
	color: black;
}
.login-page-form input{
	padding: 0;
	padding-left: 0.4rem;
	display: block;
	width: calc(100% - 0.4rem);
	height: 45px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	border: 1px  solid #00000033;
}

input:focus {
  border:1px solid #297821;
  outline: none;
}

textarea:focus {
  border:1px solid #297821;
  outline: none;
}

.login-page-form button {
	height: 45px;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: green;
	font-size: 21px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.kakao-button {
	height: 45px;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: #FEE500;
	font-size: 21px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.kakao-button a {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
.kakao-button-img {
	margin-left: 10px;
	
}
.kakao-text {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: black;
}
.login-page-search {
	margin-top: 20px;
	color: black;
}
.login-page-search a {
	color: black;
}
/* 회원가입 */
.signup-wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(../../img/base/signup_image.jpg) no-repeat;
	background-color: white;
	/* background-size: 100%; */
	text-align: center;
	background-size: cover;
	background-position: center;
}
.signup-page {
	width: 500px;
	padding-top: 6%;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}
.signup-page-title h1 {
	font-weight: bold;
	padding-bottom: 20px;
	color: black
}

.signup-page-form button {
	width: 100%;
	height: 40px;
	padding: 10px;
	background-color: green;
	font-size: 16px;
	color: white;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 1px  solid #00000033;
}
/* #id_is_seller {
	display: none;
} */
input::file-selector-button {
  color: var(--text-color);
  height: 40px;
  padding: 0 10px;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  border-right: 1px solid #00000033;
}

.form-image {
  width: 100%; 
	background-color: white;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px  solid #00000033;
}

.address--btn{
	width: 100%;
	height: 40px;
	padding: 10px;
	background-color: green;
	color: white;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 1px  solid #00000033;
	font-size: 16px;
}

.user-button {
	background-color: var(--background-color) !important;
	color: var(--j-green) !important;
}

.agreement-btn {
	background-color: white !important;;
	color: green !important;;
	border: 1px solid green !important;
}

.agreement-btn:hover {
  background-color: green !important;
  color: white !important;
}

.seller-wrapper {
	display: flex;
	gap: 5px;
}
.active {
	width: 100%;
	height: 40px;
	padding: 10px;
	background-color: green;
	color: white;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 1px  solid #00000033;
}
/* 중복확인 */
.signup-page-form-check {
	display: flex;
	gap: 5px;
}
.form-check-id {
	margin-top: 0;
}
.form-control {
	display: block;
	width: calc(100% - 0.4rem);
	height: 40px;
	margin-bottom: 10px;
	border: 0;
	padding: 0;
	padding-left: 0.4rem;
	border-radius: 5px;
	flex: 8;
	border: 1px  solid #00000033;
	background-color: var(--background-color);
	color: var(--text-color)
}
.form-check-id {
	flex: 2;
}
.form-check-email {
	flex: 2;
}

/*약관 동의*/
.agreement-page {
	width: 500px;
  z-index: 1;
  position: absolute;
	background-color: var(--background-color);
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 30px;
}
.agreement-page-title h1 {
		font-weight: bold;
		padding-bottom: 10px;
	}
#agreement-form input {
	margin-bottom: 10px;
}
#agreement-form button {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	margin-top: 30px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#agreement-form label {
	margin-bottom: 30px;
}
#agreement1, #agreement2 {
	margin-top: 30px;
}
.agreement_div ol {
	padding-left: 0;
}
.agreement-submit {
	display: flex;
	gap: 10px;
}
.wait-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.wait-title-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
  font-weight: bold;
}
.wait-title-text {
  text-align: center;
  margin-bottom: 10px;
	font-size: 22px;
}

/* 정보 수정 */
.update-wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(../../img/base/update_image.jpg) no-repeat;
	background-color: white;
	/* background-size: 100%; */
	background-size: cover;
	background-position: center;
}
.update-page {
  width: 500px;
  padding-top: 10%;
  z-index: 1;
  position: relative;
  margin: 0 auto;
	text-align: center;
}
.update-page-title h1 {
	font-weight: bold;
	padding-bottom: 20px;
}
.update-page-form input{
	display: block;
	width: calc(100% - 0.4rem);
	height: 40px;
	margin-bottom: 10px;
	border: 1px  solid #00000033;
	border-radius: 5px;
}
.update-page-form button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 40px;
	font-size: 16px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.delete {
	width: 100%;
	padding: 10px;
	height: 40px;
	font-size: 16px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#image-clear_id {
	display: none;
}
label[for="image-clear_id"] {
	display: none;
}
.update-page-form #text {
	display: none;
}

/* 비밀번호 수정 */
.password-wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(../../img/base/password_image.jpg) no-repeat;
	background-color: white;
	/* background-size: 100%; */
	background-size: cover;
	background-position: center;
}
.password-page {
  width: 500px;
  padding-top: 15%;
  z-index: 1;
  position: relative;
  margin: 0 auto;
	text-align: center;
}
.password-page-title h1 {
	font-weight: bold;
	padding-bottom: 20px;
	color: black;
}
.password-page-form input{
	display: block;
	width: calc(100% - 0.4rem);
	height: 40px;
	margin-bottom: 10px;
	border: 1px  solid #00000033;
	border-radius: 5px;
}
.password-page-form button {
	width: 100%;
	padding: 10px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: green;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}
#id_image {
	margin-top: 10px;
}

/* 반응형 미디어쿼리 */
@media (min-width: 1080px) {
	/* 약관동의 */
	.agreement-submit-media {
		display: none;
	}
}

@media (max-width: 1079.9px) {
	/* 약관동의 */
	.agreement-submit-media {
		display: none;
	}
	.signup-wrapper {
		/* background: none; */
  }
	.agreement-page {
		border: 0.5px solid grey;
	}

	/* 로그인 */
	.login-wrapper {
		/* background: none; */
	}
	.update-wrapper {
		background: none;
	}
	.password-wrapper {
		background: none;
	}
}
@media (min-width: 768px) {
	.login-page-top {
		display: none;
	}
}
@media (max-width:767px) {
	/* 로그인 */
	.login-page-top {
		width: 100%;
		height: 100px;
	}

	.login-page-top img{
		display: none;
	}

	.signup-page {
		width: 450px;
	}

}

@media (max-width: 479px) {
	/* 약관동의 */
	.agreement-page {
		width: 87%;
		padding: 20px;
	}

	.agreement-submit {
		display: none;
	}

	.agreement-submit-media {
		display: flex;
		gap: 10px;
	}
	
	label[for="agreement1"] {
  font-size: 14px;
	}

	label[for="agreement2"] {
  font-size: 14px;
	}

	/* 회원가입 */
	.signup-page {
		width: 85%;
	}

	/* 로그인 */
	.login-page {
    width: 85%;
	}

	.update-page {
    width: 85%;
	}
	.password-page {
    width: 85%;
	}
}
