
.interest-page {
  padding: 10px;
}
header h2 {
  font-size: 24px;
  text-align: start;
  padding: 3%;
}
.interest-page-content {
  width: 80%;
  margin-top: 30px;
  border-collapse: collapse;
}
.interest-page-content th {
  color: var(--text-color);
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.interest-page-content td {
  padding: 10px;
}
.interest-page-content-main tr {
  border-bottom: 1px solid #ccc;
}
.main-checkbox input {
  align-self: center;
}
.main-checkbox input[type="checkbox"] {
  transform: scale(1.5);
}
.main-items-detail {
  display: flex;
  align-items: center;
}
.main-items-detail div:first-child {
  margin-right: 10px;
}
.main-items-detail img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}
.main-items-product {
  color: var(--text-color);
  font-weight: bold;
  margin: 0;
}
.main-items-price {
  color: var(--j-sub-text);
  vertical-align: middle;
  text-align: center;
}
.main-items-store {
  color: var(--j-sub-text);
  vertical-align: middle;
  text-align: center;
  margin: 0;
}
.interest-page-content-main tr:last-child td {
  border-bottom: none;
}

/* 삭제버튼 */
.sub-button {
  border: 0;
  background-color: transparent;
  margin-bottom: 0;
}
.sub-button span {
  font-size: 17px;
  color: lightgrey;
}

.delete-btn {
  vertical-align: middle;
  text-align: center;
}

.material-symbols-outlined:hover {
  color: var(--planet-color3);
}

/* 반응형 스타일 */
@media (min-width: 768px) {
  .main-items-price p,
  .main-items-store p {
    display: none;
  }
}
@media (max-width: 767px) {
  .interest-page-content {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
  }
  thead {
    display: none;
  }
  .interest-page-content-main tr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: end; */
    position: relative;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa; 
  }
  .interest-page-content-main td {
    padding: 5px;
    border-bottom: 0px solid #ccc;
  }
  .main-items-price p {
    color: black;
    font-size: bold;
  }
  .main-items-store p {
    color: black;
    font-size: bold;
    margin: 0;
  }
  .delete-btn {
    text-align: left;
  }
  .main-items-price {
    text-align: left;
  }
  .main-items-store {
    text-align: left;
}