.post-page {
  padding-inline: 20px;
}
.post-page-title h2{
  text-align: start;
  padding: 3%;
  font-size: 24px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.card {
  background-color: var(--card-profile);
  padding: 20px;
  /* border-radius: 5px; */
}
.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-content {
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-date {
  font-size: 12px;
  color: #999;
}
