/*사이드바*/
.profile-wrapper {
  width: 100%;
}
.profile-sidebar {
  width: 300px;
  float: left;
  padding: 30px;
}
.profile-sidebar-item:hover {
  background-color: #ADCBC9;
  border-radius: 10px;
}
.profile-sidebar-item {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.profile-sidebar-item span {
  color: grey;
  align-items: center;
  font-size: 30px;
}
.profile-sidebar-item p {
  margin-left: 20px;
  font-size: 20px;
  align-items: center;
  color: grey;
}

/* 상단 프로필 */
.profile-page {
  margin-left: 250px;
  padding: 30px;
}
.profile-page-info-header {
  height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
}
.header-info {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-img{
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid var(--j-color3);
}
.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-text {
  align-items: center;
}
.header-text-name {
  display: flex;
  gap: 10px;
}
.header-text-name h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.material-symbols-outlined {
  color: grey;
}
.not_seller {
  background-color: #ADCBC9;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  color: black
}
.seller {
  background-color: #8BBE86;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.header-update {
  display: flex;
  align-items: end;
  gap: 10px;
}

/*카드*/
.profile-page-info-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}
.main-card {
  background-color: var(--card-profile);
  padding: 20px;
  border-radius: 5px;
}
.main-card-title {
  font-size: 24px;
  font-weight: bold;
}
.main-card-content {
  margin-top: 20px;
}

/* 에코 포인트 */
.point_number {
  color: var(--j-color1);
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}
.point_red {
  color: var(--j-red);
}
.point_green {
  color: var(--j-green);
}
.content-table {
  width: 70%;
}
.content-table-tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* 반응형 미디어쿼리 */
@media (min-width: 1080px) {
  .profile-navbar {
    display: none;
  }
}
@media (max-width: 1079.9px) {
  /* 사이드바 반응형 */
  .profile-sidebar {
    display: none;
  }
  .profile-page {
    margin-left: 0;
  }
  .profile-navbar {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }
  .profile-navbar-item:hover {
    background-color: #ADCBC9;
  }
  .profile-navbar-item p {
    color: grey;
  }

  /* 프로필 반응형 */
  .profile-page-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-update {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 1rem; */
  }
  .header-update a {
    margin-bottom: 1rem;
  }
  .profile-page-info-main {
    margin-top: 1rem;
  }
  .header-text-name h2 {
    display: flex;
    font-size: 24px;
    margin-bottom: 20px;
  }
}
/* 핸드폰 크기*/
@media (min-width: 478.9px) {

}
@media (max-width: 479px) {
  .header-text-name h2 {
    font-size: 15px;
  }
  .header-info {
    gap: 20px;
}
.header-img{
  width: 120px;
  height: 120px;
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid grey;
}
.content-table {
  width: 100%;
}
}

/* 팔로잉&필로우 모달 */
.modal {
  margin-bottom: 20px;
}
.main-card-following {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.modal-header {
  display: flex;
  align-items: center;
  gap: 30px;
}
.modal-footer button {
  border: 0;
  color: var(--j-sub-text);
  background-color: transparent;
}
.modal-footer button:hover {
  border: 0;
  color: white;
}
.main-card-following-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile--card--btn {
  color: var(--j-sub-text);
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  height: 25px;
  line-height: 25px;
  margin: 5px 10px;
}
.profile {
  width: 30px;
  height: 30px;
  object-fit: fill;
}
#follower-ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#follower-ul > li {
  margin-right: 100px;
  margin-bottom: 10px;
}
#following-ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#following-ul > li {
  margin-right: 100px;
  margin-bottom: 10px;
}
.follow--modal {
  list-style: none;
  width: 50px;
  text-align: center;
}
.follow--modal a{
  text-decoration: none;
  width: 10px;
  margin-right: 20px;
}
.follow--modal a span {
  white-space: nowrap;
}
.profile--followbtn:hover {
  color: #8BBE86;
}
.profile--image img {
  border-radius: 70%;
}
.follow--modal-username {
  font-size: 10px;
}

/* 모달이 닫혀있는 기본상태 */
.modal-body1, .modal-body2 {
  display: none;
}

/* 스크롤바 */
#follower-list, #following-list {
  overflow-y: scroll;
  height: 80px;
}
#follower-list::-webkit-scrollbar,
#following-list::-webkit-scrollbar {
  width: 15px;
}
#follower-list::-webkit-scrollbar-thumb,
#following-list::-webkit-scrollbar-thumb {
  background-color: #ADCBC9;
  border-radius: 10px;
  height: 10%;
}
#follower-list::-webkit-scrollbar-track,
#following-list::-webkit-scrollbar-track {
  background-color:lightgray;
  border-radius: 10px;
}