/*상단 프로필*/
.profile-wrapper {
  width: 100%;
  text-align: center;
}
.profie-title h1 {
  font-weight: bold;
  align-items: center;
}
.profile-page {
  text-align: center;
  padding-top: 10%;
}
.profile-page-profile {
  width: 1000px;
  height: 300px;
  background-color: #EDF1F4;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.profile-box {
  margin: auto;
  display: flex;
}
.profile-box-img{
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid grey;
}
.profile-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-box-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.profile-box-item {
  width: 100px;
  height: 100px;
}
.profile-box-item span {
  width: 100%;
  height: 100%;
  text-align: center;
}


/*콘텐츠*/
.profile-page-content {
  width: 1000px;
  height: 1000px;
  padding-top: 10%;
  border: 1px solid grey;
  margin: 0 auto;
}


.profile-image {
  width: 50px;
}