/*사이드바*/
.profile-wrapper {
  width: 100%;
}
.profile-sidebar {
  width: 300px; 
  float: left; 
  padding: 30px;
}
.profile-sidebar-item:hover {
  background-color: #ADCBC9;
  border-radius: 10px;
}
.profile-sidebar-item {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.profile-sidebar-item span {
  color: grey;
  align-items: center;
  font-size: 30px;
}
.profile-sidebar-item p {
  margin-left: 20px;
  font-size: 20px;
  align-items: center;
  color: grey;
}

/* 상단 프로필 */
.profile-page {
  margin-left: 250px;
  padding: 30px;
}
.profile-page-info-header {
  height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
}
.header-info {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-img{
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid grey;
}
.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-text {
  align-items: center;
}
.header-text-name {
  display: flex;
  gap: 10px;
}
.header-text-name h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.material-symbols-outlined {
  color: grey;
}
.not_seller {
  background-color: #ADCBC9;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.seller {
  background-color: #8BBE86;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.header-update {
  display: flex;
  align-items: end;
  gap: 10px;
}

/*카드*/
.profile-page-info-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}
.main-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}
.main-card-title {
  font-size: 24px;
  font-weight: bold;
}
.main-card-content {
  margin-top: 20px;
}

/* 에코 포인트 */
.point_number {
  color: var(--j-color1);
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}
.point_red {
  color: var(--j-red);
}
.point_green {
  color: var(--j-green);
}


/* 반응형 미디어쿼리 */
@media (min-width: 1080px) {
  .profile-navbar {
    display: none;
  }
}
@media (max-width: 1079.9px) {
  /* 사이드바 반응형 */
  .profile-sidebar {
    display: none;
  }
  .profile-page {
    margin-left: 0;
  }
  .profile-navbar {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }
  .profile-navbar-item:hover {
    background-color: #ADCBC9;
  }
  .profile-navbar-item p {
    color: grey;
  }

  /* 프로필 반응형 */
  .profile-page-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-update {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 1rem; */
  }
  .header-update a {
    margin-bottom: 1rem;
  }
  .profile-page-info-main {
    margin-top: 1rem;
  }
  .header-text-name h2 {
    display: flex;
    font-size: 24px;
    margin-bottom: 20px;
  }
}
/* 핸드폰 크기*/
@media (min-width: 478.9px) {

}
@media (max-width: 479px) {
 .header-text-name h2 {
  font-size: 18px;
 }
 .header-info {
  gap: 20px;
}
.header-img{
  width: 120px;
  height: 120px;
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid grey;
}
}
  
/* 팔로잉&필로우 모달 */
.profile--card--btn {
  color: #383943;
  background: #fff0;
  border: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  height: 25px;
  line-height: 25px;
  margin: 5px 10px;
}

.profile {
  width: 30px;
  object-fit: fill;
  
}

#follower-ul {
  padding: 0;
}

#following-ul {
  padding: 0;
}

.follow--modal {
  list-style: none;
  width: 50px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.follow--modal a{
  text-decoration: none;
}

.follow--modal a span {
  white-space: nowrap;
}
