.update-page {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.update-page-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.update-page-title-wrapper h1 {
  font-size: 50px;
  text-align: center;
}
.update-page-content-wrapper {
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  height: 600px;
  padding: 50px;
}
.form-info-box {
  display: flex;
}
input[type=text] {
  flex: 8;
  height: 30px;
  margin-right: 10px;
}
input[type=number] {
  flex: 2;
  height: 30px;
  margin-right: 10px;
}
.form-info-box select {
  flex: 2;
  height: 35px;
}

/* 내용 */
.form-content-box {
  margin-top: 20px;
}
.form-content-box textarea{
  width: 100%;
  height: 200px;
}

/* 이미지 */
.form-content-img {
  margin-top: 20px;
}

/* 주소 */
.form-address-box {
  display: flex;
  margin-top: 20px;
}

/* 버튼 */
.form-button {
  text-align: end;
  margin-top: 50px;
}
.form-button-back {
  background-color: white;
  color: grey;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}
.form-button-submit {
  background-color: white;
  color: #297821;
  font-weight: bold;
  border: 1px solid #297821;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}
.form-button-back:hover {
  background-color: lightgrey;
  color: white;
  font-weight: bold;
}
.form-button-submit:hover {
  background-color: #297821;
  color: white;
  font-weight: bold;
}