{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" href="{% static 'img/main/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/main/base.css' %}">

  {% include 'style.html' %}
  {% block head %}{% endblock head %}
  {% block style %}{% endblock style %}
</head>
<body>
  {% include 'header.html' %}

  <div id="wrapper-body">
  {% block content %}
  {% endblock content %}


  {% block script %}
  {% endblock script %}

  </div>

  {% include 'footer.html' %}

  {% include 'script.html' %}
</body>
</html>