{% load static %}
<div class="footer">
  <div class="footer-wrap">
    <div class="title">
      <p class="footer-logo">지구행</p>
    </div>
    <div>
      <div class="cscenter">
        <p class="tit_field">C/S CENTER</p>
        <p class="info_field">1234-5678</p>
        <p class="info_field">월 - 금 : 09:10 ~ 17:50</p>
        <p class="info_field">점심시간 : 11:50 ~ 13:30</p>
      </div>
      <div class="link">
        <p class="tit_field">POLICY</p>
        <a href="{% url 'terms' %}">이용약관</a>
        <a href="{% url 'privacy' %}">개인정보 처리방침</a>
      </div>
    </div>
    <div class="info">
      <p class="tit_field" onclick="toggleInfo()">
        사업자 정보
        <img id="icon" src="../../static/img/base/drawer.svg" class="footer-icon">
      </p>
      <div class="info_wrap" id="infoWrap">
        <p>대표자 : 
          <a href="https://github.com/JiSuMun">문지수</a>
          <a href="https://github.com/hany0829">방한영</a>
          <a href="https://github.com/syuyoung">서유영</a>
          <a href="https://github.com/Dreamofheaven">박은정</a>
          <a href="https://github.com/iblug">정광배</a>
        </p>
        <p>상호명 : <a href="https://github.com/nninzy">지구행</a> </p>
        <p>사업자등록번호 : 123-12-12345</p>
        <p>대표이메일 : finalhot6@gmail.com</p>
        <p>주소 : <a href="https://github.com/JiSuMun/zigoohang">https://github.com/JiSuMun/zigoohang</a></p>
        <p>통신판매업 정보 : 아직 없음</p>
        <p>호스팅 제공자 : cloudtype</p>
      </div>
    </div>  
    <p class="copy">
      Copyright © 지구행. all right reserved
    </p>
  </div>
</div>
