{% extends 'base.html' %}
{% load static %}

{% block title %}PLANET HELPER{% endblock title %}

{% block content %}
<!--carousel-->
<div>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'img/main/carousel1.jpg' %}" class="d-block main-image " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'img/main/carousel2.jpg' %}" class="d-block main-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'img/main/carousel3.jpg' %}" class="d-block main-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'img/main/carousel4.jpg' %}" class="d-block main-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'img/main/carousel5.jpg' %}" class="d-block main-image" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--플래닛마켓 제품3-4개 보여주고-->
<div class="main-product">
  <p>마켓 제품</p>
</div>
<!--주요 링크-->
<div class="main-link-wrap">
  <!--중고마켓 바로가기-->
  <div class="m-reverse">
    <div class="main-wrap">
      <div class="main-box main-box-wrap">
        <p class="main-button_title">RECYCLE</p>
        <p class="main-button_text">Planet Helper는 지속 가능한 소비와 재활용을 장려하기 위해 중고 제품 거래를 지원합니다.</p>
        <a class="main-button" href="#">View More</a>
      </div>
      <div class="main-box">
        <img class="main-box-image" src="{% static 'img/main/recycle.jpg' %}" alt="">
      </div>
    </div>
  </div>
  <!--기부 바로가기-->
  <div>
    <div class="main-wrap">
      <div class="main-box">
        <a href="#"><img class="main-box-image" src="{% static 'img/main/donation.jpg' %}" alt=""></a>
      </div>
      <div class="main-box main-box-wrap">
        <p class="main-button_title">DONATION</p>
        <p class="main-button_text">Planet Helper는 지구 환경 보호를 위한 다양한 프로젝트를 진행하고 있습니다. 우리의 노력은 더 깨끗하고 지속 가능한 지구를 만들기 위한 것입니다. 여러분의 포인트 기부는 우리의 미션을 지원하고, 환경 보호에 기여할 수 있는 중요한 역할을 합니다.</p>
        <a class="main-button" href="#">View More</a>
      </div>
    </div>
  </div>

  <!--환경 바로가기-->
  <div class="m-reverse">
    <div class="main-wrap">
      <div class="main-box main-box-wrap">
        <p class="main-button_title">ECO</p>
        <p class="main-button_text">Planet Helper는 환경 보호와 관련된 다양한 정보와 팁을 제공합니다. 환경에 대한 인식을 높이고, 지속 가능한 삶을 촉진하는 데 도움을 줍니다.</p>
        <a class="main-button" href="#">View More</a>
      </div>
      <div class="main-box">
        <a href="#"><img class="main-box-image" src="{% static 'img/main/eco.jpg' %}" alt=""></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
