{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block title %}
 {{ query }} 검색 결과 
 {% endblock title %}


{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'css/main/search.css' %}">
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock head %}

{% block content %}
<div class="search-wrapper">
  <p class="query-title">"{{ query }}" 검색 결과</p>
  <!--포럼-->
  <div class="search-inner">
    <p class="inner-title">FORUM</p>
    {% if posts %}
    <p class="inner-count">총 {{posts|length}} 건의 검색결과가 있습니다.</p>
      {% for post, p_image in posts %}
      <div class="forum-wrapper">
        <a href="{% url 'posts:detail' post.id %}">
          <p class="f-title">{{ post.title }}</p>
          <p class="f-date">{{ post.created_at }}</p>
          <p class="f-content">{{ post.content|truncatechars:200 }}</p>
        </a>  
      </div>
      {% endfor %}
    {% else %}
      <p class="search-none">검색결과가 없습니다.</p>
    {% endif %}
  </div>
  <div class="search-inner">
    <p class="inner-title">챌린지</p>
    {% if challenges %}
    <p class="inner-count">총 {{challenges|length}} 건의 검색결과가 있습니다.</p>
    <div class="challenge">
      {% for challenge, c_image in challenges %}
          <div class="challenge-wrapper">
        <a href="{% url 'challenges:detail' challenge.id %}">
          <div class="c-img-wrapper">
            <img class="c-image" src="{{ c_image.image.url }}" alt="">
          </div>
          <div class="c-content-wrapper">
            <p class="c-title">{{ challenge.title }}</p>
            <p class="c-date">{{ challenge.start_date|date:"Y-m-d" }}~{{ challenge.end_date|date:"Y-m-d"  }}</p>
            <div class="icon-box">
              <i class="fa-regular fa-user"></i>{{ challenge.participants.count }}
              <i class="fa-regular fa-comment-dots"></i>{{ challenge.certifications.count }}
            </div>  
          </div>
        </a>  
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p class="search-none">검색결과가 없습니다.</p>
    {% endif %}
  </div>
  <div class="search-inner">
    <p class="inner-title">행성상점</p>
    {% if products %}
    <p class="inner-count">총 {{products|length}} 건의 검색결과가 있습니다.</p>
    <div class="store">
      {% for product, pro_image in products %}
        <div class="store-wrapper">
          <a class="a-hover"href="{% url 'stores:products_detail' product.store.pk product.pk %}">
            <div class="hover-box">
              <img class="s-image" src="{{ product.images.first.image.url }}" alt="">
              <div class="hover-content">
                <p class="hover-store">{{ product.store.name }}</p>
                <p class="hover-name">{{ product.name }}</p>
                <p>￦ {{ product.price|intcomma }}</p>
                <button class="hover-button">View Product</button>
              </div>
            </div>
            <div class="item-box">
              <p class="product-name">[ {{ product.store.name }} ] {{ product.name }}</p>
              <p class="product-price">￦ {{ product.price|intcomma }}</p>
            </div>
          </a>
        </div> 
      {% endfor %}
    </div>
        
    {% else %}
    <p class="search-none">검색결과가 없습니다.</p>
    {% endif %}
  </div>
  </div>

  

  
  


{% endblock content %}