.detail-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.detail-title-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}

.detail-title-text {
  text-align: center;
  margin-bottom: 10px;
}

.detail-image-wrapper {
  display: flex;
}

.detail-image {
  display: block;
  justify-content: center;
  max-width: 1300px;
  aspect-ratio: 10 / 3;
  margin: 0 auto;
  width: 100%;
}

.detail-wrapper {
  padding-top: 3rem;
  padding-bottom: 1rem;
  justify-content: center;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

.detail-inner {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 1rem;
  width: 33%;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
}
/* 상품 hover */

.hover-box {
  position: relative;
}

.hover-content {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-store {
  color: #00a95c;
}

.hover-store::after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  margin: 1.5rem auto;
  background: #6d6d6d;
}

.hover-name {
  font-size: 27px;
  margin-bottom: 1.5rem;
}


.a-hover:hover .hover-content {
  display: flex;
  background: rgba(0,0,0,0.7);
  color: white;
}
/* 상품 hover end */

.detail-name {
  font-size: 18px;
  color: #333333;
  justify-content: center;
  align-items: center;
}

.hover-button {
  margin-top:1.5rem;
  width: 130px;
  height: 40px;
  border: 1px solid #00a95c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #00a95c;
  background-color: transparent;
}

.hover-button:hover {
  background-color: #00a95c;
  color: white;
}

.item-box {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.button-wrapper {
  text-align: right;
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
}

.d-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;;
  border: 1px solid #297821;
  font-size: 16px;
  color: #297821;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

.d-button:hover {
  background-color: #297821;
  color: white;
}
@media (max-width: 1079.9px) {
  .item {
    padding: 0.8rem;
    width: 50%;
  }
  .detail-title-title {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .detail-title-text {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .item {
    padding: 0.8rem;
    width: 100%;
  }
  .detail-image-wrapper {
    display: none;
  }
}