.product_container {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  justify-content: center;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

.product_info {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

/* img area */
.product-info-left {
  width: 50%;
  padding-right: 2rem;
  padding-top: 2rem;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 상품 정보 */
.product-info-right {
  width: 50%;
  padding-top: 2rem;
  padding-left: 2rem;
}

.product-inner {
  width: 100%;
  height: 100%;
}

.store-name {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.product-title {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: 600;
}

.product-price {
  font-size: 25px;
  font-weight: 700;
}
.delivery-info {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  font-size: 14px;
  padding-bottom: 3rem;
  gap: 0.8rem;
  color: var(--j-sub-text);
}

.delivery-title {
  font-weight: 600;
}

/* product quantity*/
.product_quantity_box {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
}

.product_quantity_container {
  align-items: center;
  display: flex;
}

.product_quantity_button {
  background-color: transparent;
  font-size: 20px;
  width: 30px;
  border: 1px solid #a0a0a0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color)
}

.product_quantity_button:hover {
  background-color: #a0a0a0;
}

.product_quantity {
  width: 3rem;
  text-align: center;
  line-height: 1.2rem;
}

.order-count {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.order-price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.order-title {
  color: var(--j-sub-text);
  font-weight: 600;
}

.order-content {
  font-weight: 600;
}

.buy-button {
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  border: 1px solid var(--j-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  background-color: var(--j-color1);
  cursor: pointer;
  font-weight: 600;
}

.buy-button:hover {
  background-color: #008e4d;
  color: white;
}

.btn-wrapper {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.btn-inner {
  width: 50%;
}

.sub-button {
  width: 100%;
  height: 50px;
  border: 1px solid var(--j-color1);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--j-color1);
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.sub-button:hover {
  background-color: #008e4d;
  color: white;
}

/* 상품 navbar */

.products-navbar {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
}

.products-navbar li {
  width: calc(100% / 3);
  height: 50px;
}
.nav-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #e6e6e6;
}

.products-navbar li:first-child a{
  border-right: 1px solid #e6e6e6;;
}

.products-navbar li:last-child a{
  border-left: 1px solid #e6e6e6;;
}

.nav-box:hover {
  border-bottom: none;
  color: #00a95c;
}

.nav-box::before {
  content:'';
  position: absolute;
  top: -1px;
  left: -1px;
  display: none;
  height: 3px;
  width: calc(100% + 2px);
  background-color: #00a95c;
}

.nav-box:hover::before {
  display: block;
}


/* 상품 상세이미지 */
.image-wrapper {
  max-width: 1080px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.detail-image {
  width: 100%;
}

/* 상품 리뷰 */

.review-box {
  padding: 1.5rem;
  max-width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.review-name {
  font-size: 13px;
  align-items: center;
}

.review-date {
  color: #a6a6a6;
}

.review-update {
  margin-left: 0.5rem;
  font-family: Arial, sans-serif;
}

.review-delete {
  margin-left: 0.5rem;
  font-family: Arial, sans-serif;
}

.rating-star { 
  display:flex;
  align-items: center;
  margin-top: 0.8rem;
  letter-spacing:3px;
 }

.rating-star i {
  cursor:pointer;
  color:#ffc107;
  font-size:14px;
 }

.review-title {
  margin: 1rem 0rem;
  font-weight: 600;
}

.review-image {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.review-content {
  font-size: 14px;
  margin-bottom: 1rem;
  line-height: 1.4;
}

/* 리뷰 좋아요 */

.r-like-wrapper{
  display: flex;
  gap: 10px
}

.review-like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.r-like-color {
  color: #297821;
}

.r-like-color-gray {
  color: #999999;
}

.review-like-btn {
  border: none;
  background-color: transparent;
}

.review-like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.review-dislike {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.r-count {
  font-size: 13px;
  color: #333333;
}

.create-wrapper {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: end;
}
.create-review {
  padding: 0.5rem 1rem;
  border: 1px solid #297821;
  font-size: 16px;
  color: #297821;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.create-review:hover {
  background-color: #297821;
  color: white;
}

/* 구매안내 */
.buy-info {
  font-size: 15px;
  margin: 1rem 1rem;
}

.buy-info ul li {
  display: flex;
  line-height: 1.7;
}

.buy-info ul li::before {
  margin-top : 10px;
  content: "";
  display: inline-block;
  width: 4px;
  flex: 0 0 4px;
  background-color: black;
  height: 4px;
  border-radius: 2px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.buy-title {
  font-size: 16px;
  font-weight: 600;
  color: #696969;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 1079px) {
  .product_info {
    flex-direction: column;
    align-items: center;
  }

  .product-info-left {
    width: 100%;
    padding: 1rem;
  }

  .product-info-right {
    width: 100%;
    padding: 1rem;
  }

  .store-name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
  }

  .product-title {
    margin-bottom: 1rem;
  }

  .delivery-info {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  .product_quantity_box {
    padding: 1rem 0;
  }
  .order-count {
    margin-top: 1rem;
  }
  .buy-button {
    margin-top: 1rem;
    height: 45px;
    font-size: 16px;
  }
  .sub-button {
    height: 45px;
    font-size: 16px;
  }
  .nav-box {
    font-size: 16px;
  }
}