{% extends 'base.html' %}
{% load static %}
{% block title %}Create{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/secondhands/create.css' %}">
{% endblock head %}

{% block content %}
  <div class="create-page">
    <div class="create-page-title-wrapper">
      <h1>중고 물품 등록하기</h1>
    </div>
    <div class="create-page-content-wrapper">
      <form class="create-page-content-form" action="{% url 'secondhands:create' %}" method='POST' enctype='multipart/form-data' onsubmit="return validateForm();">
        {% csrf_token %}
        <div class="form-info-box">
          {{ product_form.product }}
          {{ product_form.price }}
          {{ product_form.category }}
        </div>
        <div class="form-content-box">
          {{ product_form.content }}
        </div>
        <div class="form-content-img">
          {{ image_form.as_p }}
        </div>

        <div class="form-address-box">
          <input type="text" id="road_address" placeholder="도로명주소" name="road_address" class="form-address" autocomplete="off" readonly>
          <input type="text" id="address" placeholder="지번주소" name="address" class="form-address" autocomplete="off" readonly>
          {{ product_form.extra_address }}
          <input type="button" onclick="search_address()" value="주소 검색" class="address--btn">
        </div>
        <div class="form-button">
          <input class="form-button-back" type="submit" value="뒤로가기" onclick=window.history.back()>
          <input class="form-button-submit" type="submit" value="등록">
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

{% block script %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function search_address() {
    new daum.Postcode({
      oncomplete: function(data) {
        const r_addr = data.roadAddress;
        const addr = data.jibunAddress;
        document.getElementById("road_address").value = r_addr;
        document.getElementById("address").value = addr;
      }
    }).open();
  }
</script>

<script>
  function validateForm() {
    const product = document.querySelector('input[name="product"]').value;
    const price = document.querySelector('input[name="price"]').value;
    const content = document.querySelector('textarea[name="content"]').value;
    const address = document.querySelector('input[name="address"]').value;
    const road_address = document.querySelector('input[name="road_address"]').value;

    if (product === '' || price === '' || content === '' || address === '' || road_address === '') {
      alert('주소를 선택해주세요.');
      return false;
    }
    return true;
  }
</script>

{% endblock script %}