{% extends 'base.html' %}
{% load static %}
{% block title %}Update{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/secondhands/update.css' %}">
{% endblock head %}

{% block content %}
  <div class="update-page">
    <div class="update-page-title-wrapper">
      <h1>중고 물품 수정하기</h1>
    </div>
    <div class="update-page-content-wrapper">
      <form action="{% url 'secondhands:update' product.pk %}" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="form-info-box">
          {{ product_form.product }}
          {{ product_form.price }}
          {{ product_form.category }}
        </div>
        <div class="form-content-box">
          {{ product_form.content }}
        </div>
        <div class="form-content-img">
          {{ image_form.as_p }}
          {{ delete_form.as_p }}
        </div>

        <div class="form-address-box">
          <input type="text" id="address" placeholder="주소" name="address" class="form-address" autocomplete="off">
          {{ product_form.extra_address }}
          <input type="button" onclick="search_address()" value="주소 검색" class="address--btn">
        </div>
        <div class="form-button">
          <input class="form-button-back" type="button" value="뒤로가기" onclick=window.history.back()>
          <input class="form-button-submit" type="submit" value="수정">
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block script %}
{% comment %} <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script>
  ClassicEditor.create( document.querySelector('#id_content'), {
    language: "ko"
  } );
</script> {% endcomment %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function search_address() {
    new daum.Postcode({
      oncomplete: function(data) {
        const addr = data.address;
        document.getElementById("address").value = addr;
      }
    }).open();
  }
</script>
{% endblock script %}