.challenges-title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .challenges-title-title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: bold;
  }
  
  .challenges-title-text {
    text-align: center;
    margin-bottom: 10px;
  }

  .challenge-wrapper {
    padding-bottom: 1rem;
    justify-content: center;
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .challenge-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    width: calc(25% - 1.6rem);
    overflow: hidden;
    aspect-ratio: 4 / 5 ;
    margin: 0.8rem;
  }

  .image-wrapper {
    width: 100%;
    height: 70%;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
  }

  .c-title {
    margin: 1rem 1rem;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .c-date {
    font-size: 14px;
    text-align: center;
  }

  .icon-box {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    margin-right: 1rem;
  }

  .c-write-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .c-write {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #297821;
    font-size: 16px;
    color: #297821;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .c-write:hover {
    background-color: #297821;
    color: white;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  }
  
  .pagination .step-links {
    display: flex;
    align-items: center;
  }
  
  .pagination .step-links a,
  .pagination .step-links span {
    display: inline-block;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
    color: #3f4d67;
    border: 1px solid var(--background-color);
    border-radius: 5px;
    width: 25px;
    height: 30px;
  }
  
  .pagination .step-links a:hover {
    color: #fff;
    background-color: green;
  }
  
  .pagination .step-links .current-page {
    color: #fff;
    background-color: green;
    pointer-events: none;
  }
  
  .pagination .step-links .disabled {
    color: #999;
    pointer-events: none;
  }

@media (max-width: 1079.9px) {
  .challenges-title-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .challenges-title-text {
    font-size: 15px;
  }

  .item {
    width: calc(50% - 1.6rem);
  }

  .image-wrapper {
    height: 70%;
  }

  .content-wrapper {
    height: 30%;
  }
}
@media (max-width: 767px) {
  .item {
    width: calc(100% - 1.6rem);
  }

  .challenges-title-wrap {
    height: 250px;
  }

  .challenges-title-title {
    font-size: 40px;
  }

  .challenges-title-text {
    font-size: 15px;
  }
}