{% extends "base.html" %}
{% load static %}

{% block title %}
FORUM
{% endblock title %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/posts/detail.css' %}">
{% endblock head %}

{% block content %}
<!--detail 타이틀-->
<div class="detail-title-wrap">
  <div class="detail-title-box">
    <p class="detail-title-title">FORUM</p>
    <p class="detail-title-text">FORUM은 환경에 대한 인식을 넓히고 협력과 아이디어 공유를 촉진하여 지속 가능한 미래를 위한 행동에 동참할 수 있는 공간입니다.</p>
  </div>
</div>

<!--detail 내용-->
<div class="d-wrapper">
  <div class="d-title-wrapper">
    <p class="d-title">{{ post.title }}</p>
    <p class="d-created_at">{{ post.created_at|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;{{ post.created_at|date:"H:i:s" }}</p>
  </div>
  <div class="d-content-wrapper">
    <p class="d-username">작성자 : <a href="{% url 'accounts:profile' post.user.username %}">{{ post.user.first_name }}</a></p>

    <!--이미지-->
    {% for image in post.postimage_set.all %}
      <img class="d-image"src="{{ image.image.url }}" alt="">
    {% endfor %}

    <!--내용-->
    <p class="d-content">{{ post.content|linebreaksbr }}</p>
    <!--좋아요-->
    <div class="like">
      <form class="like-forms" data-post-id="{{ post.pk }}">
        {% csrf_token %}
        {% if request.user in post.like_users.all %}
        <button class="like-color" type="submit" {% if not request.user.is_authenticated %}disabled{% endif %}>
          <i id="like-{{ post.pk }}" class="fa-solid fa-heart"></i>
        </button>
        {% else %}
        <button class="like-color" type="submit" {% if not request.user.is_authenticated %}disabled{% endif %}>
          <i id="like-{{ post.pk }}" class="fa-regular fa-heart"></i>
        </button>
        {% endif %}
        <span id="likes_count">{{ likes_count }}</span>
      </form>
    </div>
    <!--태그-->
    <div class="tag-wrapper">
      {% for tag in post.tags.all %}
        {% if tag.name %}
          <span class="tag-text">#{{ tag.name }}</span>
        {% endif %}
      {% endfor %}
    </div>

  </div>

  <!--수정 삭제 버튼-->
  <div class="d-button-wrapper">
    <div>
      <a class="d-button-cancel" href="{% url 'posts:index' %}">목록</a>
      {% if previous_post_url %}
        <a class="d-button-cancel" href="{{ previous_post_url }}">이전</a>
      {% else %}
        <a class="d-button-cancel" onclick="showAlert()" disabled>이전</a>
      {% endif %}
    </div>
    {% if request.user == post.user %}
      <div>
        <a class="d-button" href="{% url 'posts:update' post.pk %}">수정</a>
        <a class="d-button-cancel"href="{% url 'posts:delete' post.pk %}" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
      </div>
    {% endif %}
  </div>
  
  <!--댓글-->
  <div>
    {% if u_review_forms %}
      {% for review, u_review_form, u_image_form, delete_form in u_review_forms %}
        <div class="review-box">
          <div class="review-name">
            {{ review.user.username }}<span class="review-date">&nbsp; |&nbsp; {{ review.created_at|date:"Y.m.d H:i" }}</span>
            
            {% if review.user.username == request.user.username %}
            <!--리뷰 수정-->
            <button class="review-btn" id="reviewUpdateButton{{ review.pk }}" type="button" onclick="toggleReviewUpdateForm({{ review.pk }})">수정</button>
            <form id="reviewUpdateForm{{ review.pk }}" method="POST" action="{% url 'posts:review_update' post.pk review.pk %}" enctype="multipart/form-data" style="display:none;">
              {% csrf_token %}
              <p class="form_label form-title">제목<span class="required_star">*</span></p>
              {{ u_review_form.title }}
              <p class="form_label">내용<span class="required_star">*</span></p>
              {{ u_review_form.content }}
              <p class="form_label">파일 첨부하기</p>
              <span id="u-image">{{ u_image_form.image }}</span>
              <p class="form_label">{{ delete_form }}</p>
              <div class="button-wrapper">
                <button class="u-button" type="submit">수정</button>
              </div>
            </form>
            <!--리뷰 삭제-->
            <a class="review-btn"href="{% url 'posts:review_delete' post.pk review.pk %}" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            {% endif %}
          </div>

          <!--리뷰 내용-->
          <div class="review--box">
            <p class="review-title">{{ review.title }}<p>
              {% for image in review.reviewimage_set.all %}
                <img class="review-image" src="{{ image.image.url }}" alt="Review Image">
              {% endfor %}
              <p class="review-content">{{ review.content|linebreaksbr }}</p>
          </div>


          <div class="r-like-wrapper">
            <!--리뷰 좋아요-->
            <div class="review-like">
              {% if request.user.is_authenticated %}
                <form class="review-like-form" action="{% url 'posts:review_likes' post.pk review.pk %}" data-post-id="{{ post.pk }}" data-review-id="{{ review.pk }}" id="review-likes-form-{{ post.pk }}-{{ review.pk }}">
                  {% csrf_token %}
                  {% if request.user in review.like_users.all %}
                    <button class="review-like-btn" type="submit" {% if user in review.dislike_users.all %} disabled {% endif %}>
                      <i id="review-like" class="fa-regular fa-thumbs-up r-like-color"></i>
                    </button>
                  {% else %}
                    <button class="review-like-btn" type="submit" {% if user in review.dislike_users.all %} disabled {% endif %}>
                      <i id="review-like" class="fa-regular fa-thumbs-up r-like-color-gray"></i>
                    </button>
                  {% endif %}
                </form>
              {% else %}
                <button class="review-like-btn" type="submit" disabled>
                  <i id="review-like" class="fa-regular fa-thumbs-up r-like-color-gray"></i>
                </button>
              {% endif %}
              <span class="r-count" id="review_likes_count">{{ review.like_users.all|length }}</span>
            </div>
            <!--리뷰 싫어요-->
            <div class="review-dislike">
              {% if request.user.is_authenticated %}
                <form class="review-dislike-form" action="{% url 'posts:review_dislikes' post.pk review.pk %}" data-post-id="{{ post.pk }}" data-dreview-id="{{ review.pk }}" id="review-dislikes-form-{{ post.pk }}-{{ review.pk }}">
                  {% csrf_token %}
                  {% if request.user in review.dislike_users.all %}
                    <button class="review-like-btn" type="submit" {% if user in review.like_users.all %} disabled {% endif %}>
                      <i id="review-dislike" class="fa-regular fa-thumbs-down r-like-color"></i>
                    </button>
                  {% else %}
                    <button class="review-like-btn" type="submit" {% if user in review.like_users.all %} disabled {% endif %}>
                      <i id="review-dislike" class="fa-regular fa-thumbs-down r-like-color-gray"></i>
                    </button>
                  {% endif %}
                </form>
              {% else %}
                <button class="review-like-btn" type="submit" disabled>
                  <i id="review-dislike" class="fa-regular fa-thumbs-down r-like-color-gray"></i>
                </button>
              {% endif %}
              <span class="r-count" id="review_dislikes_count">{{ review.dislike_users.all|length }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <p class="review-none">등록된 리뷰가 없습니다.</p>
    {% endif %}
  </div>
  <!--리뷰 작성-->
  <div class="button-wrapper-left">
    <button id="create-review">리뷰 작성</button>
  </div>
  {% if user.is_authenticated %}
    <div class="r-create">
      <form action="{% url 'posts:review_create' post.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="form_label form-title">제목<span class="required_star">*</span></p>
        {{ review_form.title }}
        <p class="form_label">내용<span class="required_star">*</span></p>
        {{ review_form.content }}
        <p class="form_label">파일 첨부하기</p>
        <span id="u-image">{{ image_form.image }}</span>
        <div class="button-wrapper">
          <input class="u-button" type="submit" value="작성하기">
        </div>
      </form>
    </div>
  {% else %}
    <div class="r-create">
    <p class="login-required">리뷰를 작성하려면&nbsp;<a href="{% url 'accounts:login' %}"> 로그인</a>이 필요합니다.</p>
  {% endif %}
</div> 


<script src="{% static 'js/posts/detail.js' %}"></script>

{% endblock content %}