{% extends "base.html" %}
{% load static %}

{% block title %}
UPDATE
{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/posts/update.css' %}">
{% endblock head %}

{% block content %}
<!--update 타이틀-->
<div class="update-title-wrap">
  <div class="update-title-box">
    <p class="update-title-title">FORUM</p>
    <p class="update-title-text">FORUM은 환경에 대한 인식을 넓히고 협력과 아이디어 공유를 촉진하여 지속 가능한 미래를 위한 행동에 동참할 수 있는 공간입니다.</p>
  </div>
</div>

<div class="u-wrapper">
  <form action="{% url 'posts:update' post.pk %}" method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="u-form-wrap">
      <div>
        <p class="form_label">제목<span class="required_star">*</span></p>
        {{ post_form.title }}
      </div>
      <div>
        <p class="form_label">내용<span class="required_star">*</span></p>
        {{ post_form.content }}
      </div>
      <div>
        <p class="form_label">태그</p>
        {{ post_form.tags }}
      </div>
      <div>
        <p class="form_label">파일 첨부하기</p>
        {{ image_form.image }}
      </div>
      <div id="delete-image">
        {{ delete_form }}
      </div>
    </div>
    <!--버튼-->
    <div class="button-wrapper">
      <input class="u-button-cancel" type="submit" value="취소" onclick=window.history.back()>
      <input class="u-button" type="submit" value="수정하기">
    </div>
  </form>
</div>

{% endblock content %}