{% extends "base.html" %}
{% load static %}

{% block title %}친환경 지도{% endblock title %}

{% block head %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/posts/zero_map.css' %}">
{% endblock head %}

{% block content %}
<!--지도 타이틀-->
<div class="map-title-wrap">
  <div class="map-title-box">
    <p class="map-title-title">친환경 지도</p>
    <p class="map-title-text">친환경 지도는 지구 보호와 지속 가능한 삶을 추구하는 사람들을 위해 지역별로 친환경 업체들을 제공하여 선택과 편의를 높여줍니다.</p>
  </div>
</div>
<!--지도 영역-->
<div class="m-wrapper">
  <div class="m-inner">
    <div class="m-left">
      <div class="map" id="map"></div>
    </div>
    <div class="m-right">
      <select class="m-select" id="region-select" onchange="changeRegion()">
        {% for region in regions %}
          <option value="{{ region }}" {% if region == '서울' %}selected{% endif %}>{{ region }}</option>
          {% endfor %}
      </select>
      <ul id="data-list"></ul>
    </div>
  </div>
</div>


{% endblock content %}

{% block script %}
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_script_key }}&libraries=services"></script>
  <script>
    /* 카카오 지도 생성 */
    const API_KEY = "{{ kakao_key }}";
    const mapContainer = document.getElementById('map');
    const mapOption = {
      center: new kakao.maps.LatLng(37.566826, 126.9786567),
      level: 10,
    };
    
    const map = new kakao.maps.Map(mapContainer, mapOption);
    const geocoder = new kakao.maps.services.Geocoder();
    const regionSelect = document.getElementById('region-select');

    function setCenter(coords) {
      map.setCenter(new kakao.maps.LatLng(coords.latitude, coords.longitude));
    }
    /* 장소 바꿀 때 */
    const markers = [];
    const overlays = [];
    function changeRegion() {
      markers.forEach((marker) => {
        marker.setMap(null);
      });
      markers.length = 0;

      overlays.forEach((overlay) => {
        overlay.setMap(null);
      });
      overlays.length = 0;

      axios.get('/posts/get_zeros/', {
        params: {
          'region': regionSelect.value,
        },
        headers: {
          Authorization: `KakaoAK ${API_KEY}`,
        },
      }).then((response) => {
        const { addresses, zeros } = response.data;
        const coordsList = [];
        
        /* 장소 바꿔 데이터 출력하기 */
        const dataList = document.getElementById('data-list');
        dataList.innerHTML = '';
        zeros.forEach((zero) => {
          const name = zero.name;
          const address = zero.address;
          const phoneNumber = zero.phone_number;
        
          const listItem = document.createElement('li');
          listItem.classList.add('m-list');

          const nameItem = document.createElement('p');
          nameItem.innerText = name;
          nameItem.classList.add('m-name');
          listItem.appendChild(nameItem);
        
          const addressItem = document.createElement('p');
          addressItem.innerText = address;
          addressItem.classList.add('m-address');
          listItem.appendChild(addressItem);
        
          const phoneNumberItem = document.createElement('p');
          phoneNumberItem.innerText = phoneNumber;
          addressItem.classList.add('m-phonenumber');
          listItem.appendChild(phoneNumberItem);
        
          dataList.appendChild(listItem);
        });

        zeros.forEach((zero, index) => {
          geocoder.addressSearch(zero.address, (result, status) => {
            if (status === kakao.maps.services.Status.OK) {
              const latitude = result[0].y;
              const longitude = result[0].x;
    
              coordsList.push(new kakao.maps.LatLng(latitude, longitude));
    
              const markerPosition = new kakao.maps.LatLng(latitude, longitude);
              const marker = new kakao.maps.Marker({
                position: markerPosition,
                map: map,
                title: zero.name,
              });
              markers.push(marker);
              /* 마커 위 커스텀오버레이 */
              var iwContent = '<div class="marker">' + zero.name + '</div>'; // 커스텀오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
              iwPosition = new kakao.maps.LatLng(latitude, longitude);
              var overlay = new kakao.maps.CustomOverlay({
                position : iwPosition, 
                content : iwContent,
                yAnchor: 2.5
            });
            overlays.push(overlay);
            overlay.setMap(map); 

              /* 업체 길찾기 링크 연결 */
              kakao.maps.event.addListener(marker, 'click', function() {
                const apiUrl = "https://dapi.kakao.com/v2/local/geo/transcoord.json?x=127.423084&y=37.078956&input_coord=WGS84&output_coord=TM";
                
                fetch(apiUrl, {
                  headers: {
                    "Authorization": "KakaoAK " + API_KEY
                  }
                })
                .then(response => response.json())
                .then(data => {
                  const latitude = markerPosition.getLat();
                  const longitude = markerPosition.getLng();
                  const title = marker.getTitle();
              
                  const directionsUrl = "https://map.kakao.com/link/to/" + title + "," + latitude + "," + longitude;
                
                  window.open(directionsUrl, "_blank");
                })
                .catch(error => {
                  console.log(error);
                });
              });              
              
              if (coordsList.length === zeros.length) {
                const center = getCenterCoordinate(coordsList);
                map.setCenter(center);
                map.setLevel(mapOption.level);
              }
            }
          });
        });
      });

      /* 장소들의 중심 계산 */
      function getCenterCoordinate(coordinates) {
        let totalLat = 0;
        let totalLng = 0;
        for (let i = 0; i < coordinates.length; i++) {
          totalLat += coordinates[i].getLat();
          totalLng += coordinates[i].getLng();
        }
        const averageLat = totalLat / coordinates.length;
        const averageLng = totalLng / coordinates.length;
        return new kakao.maps.LatLng(averageLat, averageLng);
      }
      /* 지도 기본 위치 조절 */
      function resizeMap() {
        var mapContainer = document.getElementById('map');
        mapContainer.style.width = '700px';
        mapContainer.style.height = '700px'; 
      }    
      function relayout() {    
        map.relayout();
        map.setLevel(mapOption.level);
      }
    }
    
    changeRegion();

    
  </script>
  
{% endblock script %}